<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="./assets/styles/style.css" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
  </head>
  <body class="font-noto">
    <%- include('../partials/shared/header.ejs'); %>
    <main><%- body %></main>
    <%- include('../partials/shared/footer.ejs'); %>

    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.4/dist/lazyload.min.js"></script>
    <script>
      const swiper = new Swiper(".swiper", {
        // Optional parameters
        direction: "horizontal",
        loop: true,

        // If we need pagination
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },

        // Navigation arrows
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });

      // var typed1 = new Typed("#line-1", {
      //   strings: ["Hello world"],
      //   typeSpeed: 50,
      //   showCursor: false,
      // });

      var typed2 = new Typed("#line-2", {
        strings: ["Hello world", "Hello philippines"],
        typeSpeed: 200,
        showCursor: false,
        loop: true,
        // startDelay: 2000,
      });

      ScrollReveal().reveal("#testimonial", {
        delay: 500,
        distance: "10%",
        origin: "bottom",
        opacity: null,
        reset: true,
      });

      var lazyLoadInstance = new LazyLoad({
        // Your custom settings go here
      });
    </script>
  </body>
</html>
