<div class="w-full | px-[1rem] | 2xl:px-[15rem] | xl:px-[12rem] |lg:px-[9rem] | md:px-[3rem]">
    <div class="container | grid | grid-cols-1 | lg:grid-cols-2 | mx-auto | gap-[5rem] | pt-[10px] | pb-[20px] | px-[1rem] | md:pt-[50px] | md:pb-[7rem] | lg:pt-[150px]">
        <div>
            <img src="/assets/images/illustration/registration-illustration.svg" class="h-auto | max-w-full | hidden | mx-auto | lg:flex">
        </div>

        <div class="lg:ml-[120px] | ml-[0px] | flex | flex-col | lg:justify-center | gap-[1.275rem] | lg:items-start | items-center">
          <h1 class="text-[40px] | font-assistant | font-bold | text-center">
            Mag <span class="text-blue">Register</span> Na
          </h1>
          <p class="font-inter | text-[20px] | leading-[23.71px] | max-w-[270px] | lg:text-left | text-center">
            Para mas mapadali at mapaigsi ang oras nang pag aapply sa mga trabaho
          </p>
          <button class="secondary-button | w-[120px]"> Sign Up </button>
        </div>
    </div>
</div>