<section>
  <div>
    <div>
      <h1></h1>
      <p></p>
      <div>
        <form>
          <img src="#" alt="search-icon">
          <input placeholder="Search Trabaho" type="text">
        </form>
        <form>
          <img src="#" alt="search-icon">
          <input placeholder="Search Trabaho" type="text">
        </form>
        <button>Search</button>
      </div>
    </div>
    <img src="#">
  </div>
</section>