<section class="w-full | bg-[#ECFCFF]">
    <div class="container | mx-auto | mt-8 | p-2 | sm:p-10 | md:p-4 | lg:p-5 | xl:p-6">
        <div>        
            <h1>
                Munting <span> Trabaho</span>
                Para Sa <span> Pilipino </span>
            </h1>
            <p>
                Mabilis at garantisadong trabaho ba ang hanap 
                mo? Halina't tara maghalungkat sa aming 
                website
            </p>
            <div>
                <div>
                    
                </div>

                <div class="[&>*]:small-primary-button">
                    <a href="#">Bus Driver</a>
                    <a href="#">Construction</a>
                    <a href="#">Tubero/Plumber</a>
                    <a href="#">Cook</a>
                    <a href="#">Dishwasher</a>
                </div>
               
            </div>
        </div>
        <div>

        </div>
      
    </div>
</section>