<div class="w-full | bg-[#ECFCFF] ">
    <div class="container | grid | grid-cols-1 | lg:grid-cols-2 | mx-auto | gap-[5rem] | pt-[154px] | pb-[4rem] | px-[1rem] | md:pt-[202px] | md:pb-[7rem]">
        <div>        
            <h1 class="font-assistant | font-extrabold  | xl:leading-[5rem]  | leading-[3rem] | text-[40px] | 2xl:text-[72px] | xl:text-[64px] | lg:text-[52px] | lg:w-[500px] | xl:w-[600px] | w-[350px]">
                Munting <span class="text-red"> Trabaho</span>
                Para Sa <span class="text-blue-500"> Pilipino </span>
            </h1>
            <p class="text-[16px] | font-inter | text-gray | min-w-[300px] | mt-[24px] | h-auto | xl:text-[20px]">
                Mabilis at garantisadong trabaho ba ang hanap 
                mo? Halina't tara maghalungkat sa aming 
                website
            </p>
            
            <div class="grid | gap-[17px] | mt-[36px]">

                <!-- Start Form -->

                <form class="flex | gap-[17px] | lg:flex-nowrap | flex-wrap | w-auto">
                    <div class="primary-search-bar">
                        <img class="ml-[1rem]" src="/assets/images/icons/search-icon.svg" alt="search-icon">
                        <input class="placeholder:font-inter | placeholder:text-blue-500 | placeholder:text-[16px]" placeholder="Search Trabaho" type="text">
                    </div>
                    <div class="primary-search-bar">
                        <img class="ml-[1rem]" src="/assets/images/icons/location-icon.svg" alt="search-icon">
                        <input class="placeholder:font-inter | placeholder:text-blue-500 | placeholder:text-[16px]" placeholder="Search Trabaho" type="text">
                    </div>

                    <button class="border-solid | border-blue-500 | border-[1px] | xl:w-[150px] | lg:w-[120px] | md:w-[200px] | bg-blue-500 | text-white | font-inter | rounded-[6px] | w-full | h-[38px]"> Search </button>
                </form>

                <!-- End Form-->


                <div class="[&>*]:small-primary-button | gap-[6px] | flex | flex-wrap ">
                    <a href="#">Bus Driver</a>
                    <a href="#">Construction</a>
                    <a href="#">Tubero/Plumber</a>
                    <a href="#">Cook</a>
                    <a href="#">Dishwasher</a>
                    <a href="#">Electrician</a>
                    <a href="#">Mekaniko</a>
                </div>
            </div>
        </div>

        <div class="hidden | ml-[100px] | lg:flex">
            <img src="/assets/images/illustration/hero-section-illustration.svg" alt="#">
        </div>
      
    </div>
</div>