<section
  class="container | flex flex-col | mx-auto | mt-8 | p-2 | sm:p-3 | md:p-4 | lg:p-5 | xl:p-6 | md:grid | md:grid-cols-2 | md:gap-2 | font-assistant"
>
  <div class="max-w-xl">
    <h2 class="text-5xl | font-bold | mb-5">
      Isa ka ba sa mga Employer na naghahanap ng Trabahador
    </h2>
    <p class="mb-5 | max-w-md">
      Mag register na at maghanap sa aming website mabilisan at maaasahan.
    </p>
    <button class="text-white bg-blue-400 rounded-md px-5 py-1 mb-5">
      Sign up
    </button>
  </div>

  <div class="flex | justify-center | md:justify-end">
    <svg
      width="458"
      height="364"
      viewBox="0 0 458 364"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M56.5475 324.513C32.4825 316.894 21.7425 293.438 28.137 277.686C32.4793 266.987 44.7545 259.778 58.6537 258.747C57.515 256.936 49.1571 243.211 54.4446 231.386C60.4331 217.991 82.43 210.404 104.427 220.865C119.373 214.341 246.936 160.907 345.924 228.23C361.482 238.812 380.942 255.512 398.536 281.895C414.668 267.511 438.66 271.66 447.992 286.104C456.895 299.886 451.878 322.153 433.785 331.878H208.598C157.914 329.423 107.231 326.968 56.5444 324.513H56.5475Z"
        stroke="#1A1A1A"
        stroke-width="3"
        stroke-miterlimit="10"
      />
    </div>
  </div>
  <!-- End of section content -->
</section>
