<section class="flex | justify-center | font-assistant | m-5">
  <!-- Start of section content -->
  <div
    class="flex | flex-col | justify-center | p-4 | md:grid | md:grid-cols-2 | md:gap-12 | lg:gap-44 | md:mx-5"
  >
    <!-- Start of section text -->
    <div class="max-w-md | mb-5 | md:mb-0">
      <h2 class="text-center | text-5xl | font-bold | mb-5 | md:text-left">
        Isa ka ba sa mga Employer na naghahanap ng Trabahador
      </h2>
      <p class="text-center | mb-5 | max-w-md | md:text-left">
        Mag register na at maghanap sa aming website mabilisan at maaasahan.
      </p>

      <!-- Start of button container-->
      <div class="flex | justify-center | md:justify-start">
        <button
          class="text-white | border-2 | border-blue-400 | bg-blue-400 | rounded-md | py-1 | px-4"
        >
          Sign up
        </button>
      </div>
    </div>
    <!-- End of section text -->
    <!-- End of button container-->
    <div class="flex justify-center md:justify-end">
      <img
        src="assets/images/illustration/registration-employer-section.svg"
        alt=""
      />
    </div>
  </div>
  <!-- End of section content -->
</section>
