<section
  class="container | flex flex-col | mx-auto | mt-8 | p-2 | sm:p-3 | md:p-4 | lg:p-5 | xl:p-6 | md:grid | md:grid-cols-2 | md:gap-2 | font-assistant"
>
  <div class="max-w-xl">
    <h2 class="text-5xl | font-bold | mb-5">
      Isa ka ba sa mga Employer na naghahanap ng Trabahador
    </h2>
    <p class="mb-5 | max-w-md">
      Mag register na at maghanap sa aming website mabilisan at maaasahan.
    </p>
    <button class="text-white bg-blue-400 rounded-md px-5 py-1 mb-5">
      Sign up
    </button>
  </div>

  <div class="flex | justify-center | md:justify-end">
    <svg
      width="458"
      height="364"
      viewBox="0 0 458 364"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M56.5475 324.513C32.4825 316.894 21.7425 293.438 28.137 277.686C32.4793 266.987 44.7545 259.778 58.6537 258.747C57.515 256.936 49.1571 243.211 54.4446 231.386C60.4331 217.991 82.43 210.404 104.427 220.865C119.373 214.341 246.936 160.907 345.924 228.23C361.482 238.812 380.942 255.512 398.536 281.895C414.668 267.511 438.66 271.66 447.992 286.104C456.895 299.886 451.878 322.153 433.785 331.878H208.598C157.914 329.423 107.231 326.968 56.5444 324.513H56.5475Z"
        stroke="#1A1A1A"
        stroke-width="3"
        stroke-miterlimit="10"
      />
      <path
        d="M389.18 332.699C413.184 332.699 432.644 313.24 432.644 289.235C432.644 265.23 413.184 245.771 389.18 245.771C365.175 245.771 345.715 265.23 345.715 289.235C345.715 313.24 365.175 332.699 389.18 332.699Z"
        fill="#2D317B"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M340.802 320.903H73.7744C72.4422 320.903 71.1766 321.173 70.0252 321.661H70.022L68.7342 322.324L12.0814 343.737H12.9409C7.91352 344.067 3.93916 348.248 3.93916 353.358C3.93916 358.683 8.25608 363 13.5817 363H295.73C297.652 363 299.438 362.436 300.941 361.468C300.941 361.468 345.877 339.106 347.622 337.362C349.363 335.617 350.444 333.204 350.444 330.542C350.444 325.217 346.128 320.9 340.802 320.9V320.903Z"
        fill="#2D317B"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M429.164 184.214C429.164 184.214 414 159.673 425.371 152.47C436.054 145.704 441.021 158.442 441.021 158.442C441.021 158.442 455.288 154.763 455.764 167.4C456.271 180.852 429.164 184.214 429.164 184.214Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M34.5162 194.589C34.5162 194.589 -1.83668 180.119 4.73227 163.08C10.8984 147.078 26.6024 156.936 26.6024 156.936C26.6024 156.936 39.1662 141.4 49.8966 154.776C61.3217 169.017 34.5162 194.586 34.5162 194.586V194.589Z"
        fill="#2D317B"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M70.0224 312.884L68.7346 313.547C69.1437 313.296 69.5719 313.071 70.0224 312.884Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M350.445 321.772C350.445 324.433 349.363 326.847 347.622 328.592C345.877 330.336 300.941 352.698 300.941 352.698L295.279 334.964H12.0815L68.7343 313.551L70.0221 312.888H70.0253C71.1767 312.399 72.4423 312.13 73.7744 312.13H340.802C346.128 312.13 350.445 316.447 350.445 321.772Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M295.729 334.938H13.5784C8.25299 334.938 3.9359 339.256 3.9359 344.581V344.584C3.9359 349.91 8.25299 354.227 13.5784 354.227H295.729C301.055 354.227 305.372 349.91 305.372 344.584V344.581C305.372 339.256 301.055 334.938 295.729 334.938Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M340.574 155.207H86.2779C79.6754 155.207 74.3231 160.559 74.3231 167.162V293.688C74.3231 300.29 79.6754 305.643 86.2779 305.643H340.574C347.176 305.643 352.528 300.29 352.528 293.688V167.162C352.528 160.559 347.176 155.207 340.574 155.207Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M305.372 298.627H92.0511C85.8786 298.627 80.8766 293.625 80.8766 287.452V213.233"
        fill="white"
      />
      <path
        d="M305.372 298.627H92.0511C85.8786 298.627 80.8766 293.625 80.8766 287.452V213.233"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M121.787 160.672H334.798C340.97 160.672 345.972 165.674 345.972 171.847V219.682"
        fill="white"
      />
      <path
        d="M121.787 160.672H334.798C340.97 160.672 345.972 165.674 345.972 171.847V219.682"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M193.43 227.403C193.43 227.403 151.292 256.34 228.105 265.548C194.433 251.341 182.43 246.608 193.43 227.403Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M206.527 124.741C206.527 124.741 165.616 104.533 196.539 80.608C174.602 66.9277 191.629 38.2729 206.527 38.9549C200.871 29.1347 218.64 14.2269 241.57 28.9571C251.428 35.0947 253.588 45.0861 253.011 49.8281C274.922 53.517 276.657 63.9715 273.238 75.0128C284.549 76.4528 327.629 87.4529 300.1 130.464C274.935 169.785 206.527 124.738 206.527 124.738V124.741Z"
        fill="#25383F"
        stroke="#1A1A1A"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M137.783 118.991C137.783 118.991 122.602 192.217 160.478 193.282C185.897 193.996 213.423 174.261 213.423 174.261L215.475 115.035C207.827 116.402 200.389 118.582 194.477 126.676C194.477 126.676 154.213 169.788 152.475 117.7C141.522 116.463 137.783 118.991 137.783 118.991Z"
        fill="#2D317B"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M204.604 161.732C202.701 200.026 207.025 246.738 207.025 246.738C207.025 246.738 279.73 277.686 314.881 244.54C311.871 227.025 289.151 111.093 266.307 105.396C243.463 99.6998 220.616 112.619 220.616 112.619C218.256 112.771 216.213 114.011 214.45 116.143"
        fill="#2D317B"
      />
      <path
        d="M204.604 161.732C202.701 200.026 207.025 246.738 207.025 246.738C207.025 246.738 279.73 277.686 314.881 244.54C311.871 227.025 289.151 111.093 266.307 105.396C243.463 99.6998 220.616 112.619 220.616 112.619C218.256 112.771 216.213 114.011 214.45 116.143"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M220.633 89.2736C228.81 103.246 218.641 118.991 218.641 118.991C218.641 118.991 247.838 130.898 260.205 107.068C232.143 106.589 241.573 80.1481 249.985 73.2715C239.087 74.6925 236.79 62.6298 237.84 57.0188C227.76 57.8086 219.129 54.7794 215.83 45.4827C213.045 52.5211 209.074 52.6479 208.154 52.8509C208.101 52.8604 208.069 52.87 208.069 52.87L208.154 52.8509C207.951 54.2148 207.802 55.6644 207.717 57.1932C206.454 78.6922 201.408 95.8584 228.765 86.9169"
        fill="white"
      />
      <path
        d="M220.633 89.2736C228.81 103.246 218.641 118.991 218.641 118.991C218.641 118.991 247.838 130.898 260.205 107.068C232.143 106.589 241.573 80.1481 249.985 73.2715M249.985 73.2715H249.995M249.985 73.2715C239.087 74.6925 236.79 62.6298 237.84 57.0188C227.76 57.8086 219.129 54.7794 215.83 45.4827C213.045 52.5211 209.074 52.6479 208.154 52.8509M208.154 52.8509C208.101 52.8604 208.069 52.87 208.069 52.87L208.154 52.8509ZM208.154 52.8509C207.951 54.2148 207.802 55.6644 207.717 57.1932C206.454 78.6922 201.408 95.8584 228.765 86.9169"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M165.103 84.6707H151.292L149.748 88.0138H163.561L165.103 84.6707Z"
        fill="#25383F"
        stroke="#1A1A1A"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M149.747 88.0139L138.532 112.31C137.478 114.677 138.532 118.534 142.503 118.623C146.474 118.715 150.597 116.025 152.342 112.31L163.558 88.0139H149.747Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M145.988 68.1548H141.062V85.229H145.988V68.1548Z"
        fill="#25383F"
        stroke="#1A1A1A"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M171.656 68.1548H145.989V85.229H171.656C175.503 85.229 178.621 82.111 178.621 78.2636V75.117C178.621 71.2696 175.503 68.1516 171.656 68.1516V68.1548Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M144.149 67.8441C144.149 67.8441 98.4519 34.1937 88.3272 33.9431V118.397C88.3272 118.397 112.824 111.413 144.149 85.2704V67.841V67.8441Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M86.5665 118.531C98.8587 118.531 108.824 99.5655 108.824 76.1705C108.824 52.7755 98.8587 33.8101 86.5665 33.8101C74.2743 33.8101 64.3094 52.7755 64.3094 76.1705C64.3094 99.5655 74.2743 118.531 86.5665 118.531Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M104.646 99.931L59.2443 88.268V64.0761L104.567 52.4321"
        fill="white"
      />
      <path
        d="M104.647 99.931L59.2443 88.268V64.0761L104.567 52.4321"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M59.2439 88.2647C62.7545 88.2647 65.6004 82.8498 65.6004 76.1703C65.6004 69.4908 62.7545 64.0759 59.2439 64.0759C55.7334 64.0759 52.8875 69.4908 52.8875 76.1703C52.8875 82.8498 55.7334 88.2647 59.2439 88.2647Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M151.394 117.496C151.394 117.496 155.368 115.007 158.394 111.717C161.42 108.428 163.589 100.536 160.96 97.7738L159.545 96.708L156.091 103.696L153.839 109.075L151.628 113.589C151.628 113.589 148.358 117.205 147.606 117.29L151.397 117.5L151.394 117.496Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M147.27 92.1848C147.27 92.1848 153.021 91.3284 152.805 94.8142C152.405 101.259 149.452 109.808 145.767 110.731C142.084 111.651 138.795 110.731 138.795 110.731C138.795 110.731 133.666 111.387 136.165 103.102C138.665 94.8142 143.511 92.0547 147.27 92.1848Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M363.849 119.983C363.849 119.983 365.778 100.924 379.106 101.219C386.258 101.377 410.85 98.7636 410.85 105.253C410.85 109.967 397.068 112.92 388.177 114.724C387.083 114.946 379.261 118.382 378.614 118.639C375.106 120.041 372.794 129.106 372.794 129.106L363.849 119.987V119.983Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M269.745 167.352C269.745 167.352 279.692 197.644 317.628 196.851C353.654 196.096 379.108 125.068 379.108 125.068L359.643 115.035C359.643 115.035 343.206 161.805 319.131 149.269C295.057 136.734 289.287 105.443 269.749 107.099"
        fill="#2D317B"
      />
      <path
        d="M269.745 167.352C269.745 167.352 279.692 197.644 317.628 196.851C353.654 196.096 379.108 125.068 379.108 125.068L359.643 115.035C359.643 115.035 343.206 161.805 319.131 149.269C295.057 136.734 289.287 105.443 269.749 107.099"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M372.581 88.5791V102.304L382.883 107.039V92.0428L372.581 88.5791Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M399.103 92.0422H382.882V107.036H399.103V92.0422Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M399.072 91.5829H382.883L372.711 88.5791H388.9L399.072 91.5829Z"
        fill="#25383F"
        stroke="#1A1A1A"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M406.428 86.7838L399.326 91.5828L389.154 88.5791L396.255 83.78L406.428 86.7838Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M406.231 80.4149V86.7174L396.059 83.7136V77.4111L406.231 80.4149Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M373.009 88.5789L368.273 83.4944H384.748L388.9 88.5789H373.009Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M382.882 92.0422L387.269 96.7778H403.49L399.107 92.0422H382.882Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M276.159 265.548C276.159 265.548 318.897 259.036 321.717 245.774C323.471 237.527 314.177 224.335 314.177 224.335C314.177 224.335 336.158 238.942 324.914 256.955C315.005 272.827 276.159 265.548 276.159 265.548Z"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M236.009 133.363C236.009 134.651 234.969 135.691 233.678 135.694H233.675C232.387 135.694 231.343 134.651 231.343 133.363C231.343 132.075 232.387 131.028 233.675 131.028C233.703 131.028 233.738 131.028 233.767 131.031C235.013 131.079 236.009 132.1 236.009 133.363Z"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M233.675 135.694C233.628 142.291 233.894 151.248 235.566 154.274"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M234.043 123.926C234.043 123.926 233.821 129.23 233.767 131.031"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M230.075 123.397C230.075 123.397 234.414 124.415 238.23 123.33"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M60.0085 88.1794C60.0085 88.1794 60.6715 88.8137 61.7784 87.2595C92.7169 96.1217 105.293 98.5926 105.293 98.5926L104.821 100.049L60.0085 88.1762V88.1794Z"
        fill="#1A1A1A"
      />
      <path
        d="M64.6042 83.0817L75.027 86.0093L75.3886 85.1212L64.7914 82.0825L64.6042 83.0817Z"
        fill="#1A1A1A"
      />
      <path
        d="M352.424 35.1135H324.045C323.373 35.1135 322.716 35.3165 322.161 35.7003L310.184 43.9345C307.406 45.844 303.878 42.8846 305.274 39.8174C306.276 37.6161 304.665 35.1135 302.248 35.1135H296.431C294.594 35.1135 293.107 33.6259 293.107 31.7894V4.32413C293.107 2.48761 294.594 1 296.431 1H352.424C354.261 1 355.748 2.48761 355.748 4.32413V31.7894C355.748 33.6259 354.261 35.1135 352.424 35.1135Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M349.059 7.36572H309.137V10.0777H349.059V7.36572Z"
        fill="#D1E0E6"
      />
      <path
        d="M349.055 15.0671H299.086V17.7791H349.055V15.0671Z"
        fill="#D1E0E6"
      />
      <path
        d="M349.055 22.7686H299.086V25.4805H349.055V22.7686Z"
        fill="#D1E0E6"
      />
      <path
        d="M185.187 331.878H145.465L157.328 324.512H197.053L185.187 331.878Z"
        fill="#25383F"
        stroke="#1A1A1A"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M74.9986 339.652H67.1006C66.456 339.652 65.9334 340.174 65.9334 340.819V348.349C65.9334 348.994 66.456 349.516 67.1006 349.516H74.9986C75.6432 349.516 76.1658 348.994 76.1658 348.349V340.819C76.1658 340.174 75.6432 339.652 74.9986 339.652Z"
        fill="#2D317B"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M406.536 257.33C406.625 256.885 414.637 223.781 404.779 219.997C394.924 216.212 384.488 247.576 383.87 255.404L386.82 255.639C386.82 255.639 395.879 224.237 402.977 225.059C410.076 225.88 402.854 256.721 402.854 256.721L406.536 257.33Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M355.269 335.919L372.908 250.513L403.206 255.734V348.131L355.269 335.919Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M409.312 254.065L428.08 340.442L416.097 337.955L403.206 348.13V255.734L409.312 254.065Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M375.96 256.216C375.96 255.763 374.491 221.735 384.892 219.924C395.292 218.116 399.476 250.9 398.572 258.703L395.632 258.364C395.632 258.364 392.805 225.804 385.681 225.237C378.557 224.672 379.69 256.327 379.69 256.327L375.96 256.213V256.216Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M140.983 228.052H32.1498C27.4498 228.052 23.6397 231.863 23.6397 236.563V242.402C23.6397 247.102 27.4498 250.912 32.1498 250.912H140.983C145.683 250.912 149.493 247.102 149.493 242.402V236.563C149.493 231.863 145.683 228.052 140.983 228.052Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M38.8682 241.067C39.7595 240.201 40.3083 238.992 40.3083 237.657C40.3083 235.03 38.1799 232.902 35.5536 232.902C32.9273 232.902 30.799 235.03 30.799 237.657C30.799 240.283 32.9273 242.411 35.5536 242.411C36.299 242.411 37.0032 242.24 37.6312 241.936L41.2345 246.031C41.2345 246.031 41.8815 246.313 42.4303 245.301L38.8714 241.067H38.8682ZM35.5536 241.067C33.6727 241.067 32.147 239.538 32.147 237.657C32.147 235.776 33.6727 234.247 35.5536 234.247C37.4346 234.247 38.9634 235.776 38.9634 237.657C38.9634 239.538 37.4377 241.067 35.5536 241.067Z"
        fill="#25383F"
        stroke="#1A1A1A"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M53.8967 48.3433C56.9195 43.7695 36.1976 26.5843 31.9156 30.0289C27.5257 33.5592 51.5939 51.8229 53.8967 48.3433Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M49.8809 91.3831C54.5435 95.7761 28.9148 122.68 21.7812 116.441C15.0854 110.586 45.3673 87.1328 49.8809 91.3831Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M44.4758 71.4315C45.5384 64.7516 5.11915 45.8535 1.17968 62.6074C-2.20788 77.0077 43.4132 78.1115 44.4758 71.4315Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </div>
</section>
