<!-- <footer class="bg-blue text-white font-inter text-sm">
  <div class="mx-auto max-w-7xl px-6 pb-8 pt-5 lg:px-8 lg:py-[72px]">
    <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-8 gap-[71px]">
      <div class="flex flex-col col-span-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="136"
          height="40"
          viewBox="0 0 136 40"
          fill="none">
          <path
            d="M23.6846 15.3023C23.7805 12.4823 23.8788 9.66002 23.9747 6.83771C24.0051 6.34779 24.0285 5.86256 24.0473 5.38201C24.0636 4.90381 24.0543 4.42093 24.0239 3.92632C24.0239 3.66846 24.0075 3.47625 23.9771 3.34498C23.942 3.21371 23.8811 3.1176 23.7828 3.05431C23.6869 2.99101 23.5512 2.95116 23.3734 2.9371C23.1955 2.92303 22.9615 2.916 22.6714 2.916C21.4149 2.96992 20.1677 3.01914 18.9275 3.07306C17.6897 3.12228 16.4426 3.15041 15.1884 3.15041C14.704 3.15041 14.4162 3.20433 14.3179 3.30513C14.222 3.41296 14.2056 3.65674 14.2711 4.04352C14.4653 5.13354 14.594 6.22589 14.6595 7.32763C14.7251 8.42702 14.7368 9.5311 14.7063 10.6446C14.6712 11.4486 14.594 11.9877 14.4653 12.2573C14.3366 12.5269 13.9506 12.6652 13.3094 12.6652C13.1456 12.6652 12.9514 12.6581 12.7268 12.6441C12.5022 12.63 12.2424 12.6113 11.9546 12.5878C11.8259 12.5878 11.73 12.5738 11.6645 12.548C11.0514 12.4987 10.6981 12.4167 10.6021 12.3136C10.5062 12.2104 10.4735 11.9127 10.5062 11.4228C10.5671 10.2578 10.6489 9.10447 10.7472 7.96523C10.8432 6.82599 11.0023 5.67268 11.2269 4.51235C11.3556 3.78801 11.3907 3.30278 11.3252 3.05665C11.2597 2.81052 10.9719 2.68628 10.4547 2.68628C10.2956 2.68628 10.1108 2.69331 9.90018 2.70738C9.69193 2.72144 9.45794 2.74019 9.20289 2.76832C8.39562 2.84568 7.60707 2.916 6.8349 2.98164C6.06273 3.04493 5.27184 3.07775 4.46925 3.07775C4.14869 3.07775 3.8328 3.07071 3.52627 3.05665C3.22442 3.04258 2.9062 3.02383 2.58797 2.9957H1.57479C1.28464 3.02149 1.07405 3.08243 0.945355 3.17386C0.819 3.26293 0.802621 3.45046 0.898557 3.7341C1.05767 4.14901 1.15829 4.56157 1.18871 4.97648C1.2238 5.39139 1.24018 5.81802 1.24018 6.25871C1.2706 8.17386 1.27762 10.0773 1.26358 11.9666C1.2472 13.8536 1.24018 15.7454 1.24018 17.6347C1.30102 19.5756 1.3291 21.4955 1.31272 23.4012C1.29634 25.3047 1.20742 27.2128 1.04831 29.1303C1.01321 29.6483 1.03895 29.9812 1.12085 30.1382C1.20274 30.2929 1.46715 30.3726 1.91642 30.3726C2.01469 30.3726 2.11063 30.3656 2.20656 30.3515C2.30484 30.3375 2.41716 30.3304 2.54585 30.3304C2.8009 30.3047 3.07701 30.2906 3.36482 30.2906H5.34438C5.72812 30.2906 6.11655 30.3047 6.50029 30.3304C6.82086 30.3562 7.13675 30.3703 7.44328 30.3703H9.3737C9.68023 30.3703 9.99377 30.3562 10.3167 30.3304C10.7659 30.3047 11.0491 30.2461 11.1614 30.157C11.2737 30.0632 11.2971 29.8405 11.2339 29.4748C11.1076 28.7271 10.9859 27.9605 10.8736 27.1823C10.7613 26.4064 10.6396 25.6422 10.5132 24.8944C10.415 24.1701 10.3331 23.4505 10.2722 22.7355C10.2067 22.0229 10.1739 21.3056 10.1739 20.5813C10.1739 20.3234 10.2395 20.1312 10.3682 19.9999C10.4969 19.8687 10.7402 19.8054 11.0935 19.8054H11.9616C12.2845 19.8054 12.5911 19.8124 12.8812 19.8265C13.1714 19.8405 13.4592 19.871 13.7493 19.9226C14.3928 19.9999 14.7157 20.2976 14.7157 20.8133C14.7461 22.2128 14.7157 23.5888 14.6198 24.9484C14.5215 26.3079 14.3132 27.6746 13.9903 29.0435C13.8616 29.5381 13.8312 29.8663 13.8944 30.0351C13.9599 30.2015 14.2009 30.2859 14.6198 30.2859C14.8748 30.2859 15.0854 30.2718 15.2469 30.2484C16.2132 30.171 17.1796 30.1312 18.1437 30.1312H19.1826C19.5219 30.1312 19.8658 30.1453 20.2215 30.171C20.7035 30.171 21.1949 30.1804 21.6956 30.2085C22.1964 30.2343 22.6854 30.2718 23.1698 30.3258H23.4108C23.8601 30.3258 24.0543 30.1054 23.9888 29.6647C23.9888 29.5381 23.9724 29.4209 23.942 29.3178C23.9069 29.2146 23.8764 29.0974 23.8437 28.9662C23.7173 28.1106 23.6027 27.2526 23.5067 26.3829C23.4108 25.518 23.378 24.6436 23.4108 23.7599C23.5067 20.9399 23.6003 18.1176 23.7009 15.2953L23.6846 15.3023Z"
            fill="white" />
          <path
            d="M66.3037 21.3806C66.3295 20.471 66.3295 19.5662 66.3037 18.6614C66.278 17.7566 66.1165 16.8517 65.824 15.9422C65.4497 14.7537 64.8272 13.802 63.9474 13.0894C63.07 12.3768 61.9538 12.0205 60.5967 12.0205C59.8503 12.0205 59.1951 12.1236 58.6405 12.3323C58.0813 12.5386 57.5665 12.8222 57.1032 13.1879C56.6352 13.5489 56.2094 13.9685 55.8256 14.4514C55.4395 14.9296 55.0581 15.4265 54.6861 15.9446C54.5293 15.8672 54.3351 15.6937 54.1081 15.4195C53.8812 15.1499 53.6612 14.8522 53.4483 14.5287C53.2353 14.2052 53.0458 13.8864 52.8703 13.577C52.6972 13.2652 52.5708 13.0332 52.4913 12.8785C52.3579 12.5948 52.1988 12.4073 52.0116 12.3135C51.8244 12.2244 51.5857 12.1799 51.2956 12.1799C50.8416 12.2291 50.4087 12.2643 49.9993 12.276C49.5851 12.2901 49.1662 12.3088 48.738 12.3323C48.2888 12.3323 48.0618 12.5386 48.0618 12.9535C48.0361 13.1105 48.022 13.2652 48.022 13.4223V13.8466C48.0478 14.6787 48.0759 15.5132 48.1016 16.3524C48.1273 17.194 48.1414 18.0285 48.1414 18.8583C48.1671 20.5156 48.1671 22.1658 48.1414 23.8091C48.1156 25.4523 48.008 27.1026 47.8208 28.7598V29.5756C47.8208 29.8874 48.0197 30.0702 48.4222 30.1194C49.4587 30.1733 50.5023 30.2155 51.5553 30.2554C52.6059 30.2929 53.6636 30.3257 54.7259 30.3515C55.2336 30.3515 55.5331 30.2976 55.6267 30.1944C55.7203 30.0913 55.7671 29.7936 55.7671 29.3037C55.7133 27.7777 55.7203 26.261 55.7882 24.7608C55.856 23.2582 55.9122 21.7439 55.9684 20.2179C55.9918 19.9577 56.0292 19.6858 56.069 19.4021C56.1088 19.1185 56.179 18.8583 56.2866 18.6239C56.3942 18.3895 56.5533 18.2019 56.7663 18.0636C56.9792 17.9206 57.26 17.8503 57.6063 17.8503C57.8964 17.8503 58.1164 17.9394 58.2638 18.1199C58.4112 18.3004 58.5235 18.5207 58.6031 18.7809C58.6569 18.8841 58.6897 18.9872 58.7037 19.0927C58.7177 19.1958 58.7365 19.3131 58.7645 19.4396C58.8979 20.1405 58.9775 20.8391 59.0056 21.5376C59.0313 22.2362 59.0196 22.9371 58.9658 23.6356C58.8862 24.5943 58.8394 25.5437 58.8254 26.4884C58.8113 27.4331 58.7388 28.3731 58.6054 29.3037C58.5516 29.7444 58.5657 30.021 58.6452 30.1382C58.7248 30.2554 58.9517 30.3116 59.3214 30.3116H59.6022C60.5054 30.2859 61.4063 30.2577 62.2955 30.2343C63.1893 30.2085 64.0855 30.171 64.9934 30.1171C65.2835 30.1171 65.5175 30.103 65.6907 30.0772C65.8638 30.0538 65.9902 29.9999 66.0697 29.9225C66.1493 29.8452 66.1961 29.7233 66.2101 29.5522C66.2242 29.3857 66.2312 29.1583 66.2312 28.8747C66.1774 27.6323 66.1703 26.3829 66.2101 25.1265C66.2499 23.87 66.2827 22.6253 66.3107 21.3829L66.3037 21.3806Z"
            fill="white" />
          <path
            d="M86.4597 24.8429C86.4854 23.3286 86.5276 21.7932 86.5837 20.239C86.6375 19.0764 86.6867 17.9184 86.7264 16.7651C86.7662 15.6117 86.799 14.4538 86.8294 13.2911C86.8294 12.8996 86.7803 12.6699 86.6867 12.5902C86.5907 12.5128 86.3357 12.4777 85.9262 12.4777C84.9154 12.4519 83.9115 12.4308 82.9147 12.4167C81.9179 12.4027 80.9305 12.3464 79.9477 12.2433C79.2645 12.1659 78.5883 12.1003 77.9214 12.0487C77.2522 11.9948 76.5736 11.969 75.895 11.969C74.9637 11.9948 74.105 12.1893 73.3141 12.5527C72.5209 12.9137 71.8166 13.3802 71.2035 13.9498C70.5904 14.5217 70.064 15.1781 69.6264 15.9305C69.1888 16.683 68.8472 17.4566 68.6039 18.2629C68.2482 19.4256 68.1101 20.5907 68.1944 21.758C68.2786 22.9207 68.398 24.0857 68.5641 25.2531C68.6179 25.7969 68.7536 26.308 68.9712 26.7862C69.1912 27.2667 69.4369 27.7379 69.7106 28.202C70.1435 28.9802 70.794 29.5686 71.6551 29.9695C72.5162 30.3703 73.41 30.5696 74.339 30.5696C75.2118 30.5696 75.9886 30.3961 76.6719 30.0492C77.3551 29.6975 78.0079 29.2264 78.6397 28.6286C78.7754 28.502 78.8971 28.3708 79.0071 28.2418C79.1171 28.1106 79.2809 28.0074 79.5008 27.9301C79.5008 28.1903 79.4938 28.427 79.4798 28.6474C79.4634 28.8677 79.4423 29.081 79.4166 29.2897C79.3908 29.7046 79.4236 29.9484 79.5195 30.0281C79.6131 30.1054 79.8799 30.1546 80.3174 30.1828H80.975C81.5482 30.1828 82.1215 30.1617 82.6948 30.1265C83.2681 30.0867 83.8413 30.0656 84.4146 30.0656C84.6884 30.0656 84.9622 30.0726 85.2359 30.0867C85.505 30.1007 85.7788 30.1335 86.0526 30.1828C86.1087 30.1828 86.1485 30.1898 86.1766 30.2039C86.2023 30.2179 86.2421 30.225 86.3006 30.225C86.6843 30.225 86.8341 29.9671 86.7498 29.4467C86.5299 27.8926 86.4363 26.3595 86.462 24.8476L86.4597 24.8429ZM79.33 19.9296C79.2762 20.5274 79.2294 21.1087 79.1896 21.676C79.1451 22.2479 79.0305 22.8176 78.8386 23.3872C78.7286 23.7505 78.5461 24.0646 78.2841 24.3389C78.0243 24.6085 77.678 24.7468 77.2405 24.7468C76.9948 24.7468 76.7912 24.6577 76.6274 24.4725C76.4613 24.292 76.3209 24.0787 76.1969 23.8349C76.0729 23.5888 75.9839 23.3309 75.9301 23.0567C75.874 22.7871 75.8342 22.5714 75.8061 22.4144C75.7219 21.4814 75.8318 20.5414 76.1337 19.5827C76.3536 18.9873 76.707 18.4692 77.2007 18.0285C77.6897 17.5878 78.277 17.3675 78.9603 17.3675C79.1779 17.3675 79.2996 17.5738 79.3277 17.9887V19.9296H79.33Z"
            fill="white" />
          <path
            d="M107.619 17.1309C107.54 16.5589 107.39 16.0291 107.17 15.5369C106.95 15.0469 106.69 14.5547 106.391 14.0601C105.953 13.3123 105.298 12.7474 104.423 12.3723C103.55 11.9949 102.659 11.8074 101.758 11.8074C100.801 11.8074 99.9161 12.0418 99.1112 12.5059C98.3039 12.9747 97.6137 13.5537 97.0404 14.257C96.7666 14.5898 96.563 14.761 96.4273 14.761C96.3174 14.761 96.1536 14.6719 95.9336 14.4867C95.7137 14.3062 95.496 14.0999 95.2761 13.8655C95.0585 13.6311 94.8526 13.4014 94.663 13.167C94.4688 12.9325 94.3495 12.7802 94.2933 12.7028C94.1834 12.5716 94.0757 12.4614 93.9657 12.3723C93.8558 12.2832 93.706 12.2363 93.5165 12.2363C93.2965 12.2621 93.0836 12.2762 92.88 12.2762H92.2436C91.4808 12.2762 90.7835 12.2223 90.154 12.1191H89.9505C89.541 12.1191 89.3468 12.3653 89.3772 12.8575C89.5106 14.128 89.5948 15.3892 89.6205 16.6433C89.6463 17.8997 89.6346 19.1609 89.5808 20.4314C89.4965 21.8543 89.4778 23.2631 89.5199 24.6625C89.5597 26.0596 89.5527 27.459 89.4965 28.8538C89.417 30.3564 89.3327 31.8496 89.2532 33.3404C89.1689 34.8266 89.0987 36.3245 89.0473 37.8224C89.0215 38.2373 89.0332 38.4975 89.087 38.6006C89.1432 38.7038 89.321 38.7553 89.6205 38.7553C91.2608 38.7553 92.8754 38.7178 94.4595 38.6428H94.5835C94.8034 38.6428 95.021 38.6733 95.241 38.7389C95.461 38.8022 95.6645 38.835 95.8587 38.835C96.1325 38.835 96.3478 38.746 96.5116 38.5608C96.7573 38.3029 96.8555 37.9794 96.8017 37.5927C96.7456 37.2012 96.6917 36.8285 96.6356 36.4675C96.4718 35.1454 96.432 33.8186 96.5116 32.4848C96.5958 31.151 96.6777 29.7727 96.7573 28.3498C97.003 28.5561 97.2135 28.7342 97.3937 28.8749C97.5692 29.0179 97.74 29.1515 97.9062 29.2828C98.3695 29.5945 98.903 29.8477 99.5043 30.0399C100.106 30.2345 100.721 30.3306 101.351 30.3306C102.141 30.3306 102.874 30.1595 103.545 29.8266C104.212 29.489 104.809 29.0484 105.328 28.5069C105.845 27.963 106.292 27.3536 106.66 26.6808C107.029 26.0104 107.31 25.347 107.5 24.7C107.83 23.4342 107.986 22.1707 107.972 20.9143C107.958 19.6578 107.841 18.399 107.621 17.1285L107.619 17.1309ZM100.26 21.3995C100.19 22.0207 100.019 22.6325 99.7477 23.2256C99.6119 23.5092 99.4411 23.7928 99.2352 24.0812C99.0317 24.3648 98.6947 24.4961 98.2314 24.4679C97.7634 24.414 97.478 24.2265 97.3703 23.903C97.2603 23.5795 97.1363 23.2607 97.0006 22.9513C96.9164 22.745 96.8836 22.513 96.8977 22.2528C96.9117 21.9949 96.9304 21.7206 96.9608 21.437C96.9304 20.9963 96.9679 20.5462 97.0614 20.0774C97.1574 19.6133 97.2744 19.1585 97.4124 18.7178C97.602 18.1506 98.0255 17.7849 98.683 17.6325C98.7392 17.6325 98.7789 17.6255 98.807 17.6114C98.8328 17.5973 98.8608 17.5903 98.8913 17.5903C99.165 17.5903 99.4084 17.7216 99.6283 17.9818C99.7921 18.2115 99.9419 18.46 100.078 18.7155C100.213 18.9757 100.298 19.2476 100.323 19.5312C100.349 20.1524 100.33 20.7736 100.262 21.3948L100.26 21.3995Z"
            fill="white" />
          <path
            d="M128.674 17.1309C128.594 16.5589 128.445 16.0291 128.225 15.5369C128.005 15.0469 127.745 14.5547 127.446 14.0601C127.008 13.3123 126.353 12.7474 125.478 12.3723C124.605 11.9949 123.713 11.8074 122.813 11.8074C121.856 11.8074 120.971 12.0418 120.166 12.5059C119.364 12.9747 118.673 13.5537 118.095 14.257C117.822 14.5898 117.618 14.761 117.482 14.761C117.372 14.761 117.208 14.6719 116.989 14.4867C116.771 14.3062 116.551 14.0999 116.336 13.8655C116.116 13.6311 115.91 13.4014 115.718 13.167C115.528 12.9325 115.404 12.7802 115.348 12.7028C115.241 12.5716 115.131 12.4614 115.021 12.3723C114.911 12.2832 114.761 12.2363 114.571 12.2363C114.351 12.2621 114.141 12.2762 113.935 12.2762H113.301C112.533 12.2762 111.836 12.2223 111.207 12.1191H111.003C110.594 12.1191 110.399 12.3653 110.43 12.8575C110.565 14.128 110.647 15.3892 110.673 16.6433C110.699 17.8997 110.687 19.1609 110.633 20.4314C110.554 21.8543 110.53 23.2631 110.572 24.6625C110.612 26.0596 110.605 27.459 110.551 28.8538C110.467 30.3564 110.385 31.8496 110.306 33.3404C110.222 34.8266 110.156 36.3245 110.1 37.8224C110.074 38.2373 110.086 38.4975 110.144 38.6006C110.198 38.7038 110.374 38.7553 110.675 38.7553C112.316 38.7553 113.93 38.7178 115.517 38.6428H115.636C115.856 38.6428 116.076 38.6733 116.294 38.7389C116.514 38.8022 116.717 38.835 116.911 38.835C117.185 38.835 117.4 38.746 117.569 38.5608C117.812 38.3029 117.908 37.9794 117.857 37.5927C117.8 37.2012 117.747 36.8285 117.69 36.4675C117.527 35.1454 117.487 33.8186 117.571 32.4848C117.651 31.151 117.735 29.7727 117.815 28.3498C118.06 28.5561 118.271 28.7342 118.451 28.8749C118.629 29.0179 118.797 29.1515 118.963 29.2828C119.427 29.5945 119.96 29.8477 120.562 30.0399C121.165 30.2345 121.778 30.3306 122.408 30.3306C123.199 30.3306 123.931 30.1595 124.603 29.8266C125.272 29.489 125.866 29.0484 126.386 28.5069C126.903 27.963 127.35 27.3536 127.717 26.6808C128.087 26.0104 128.367 25.347 128.557 24.7C128.887 23.4342 129.044 22.1707 129.03 20.9143C129.016 19.6578 128.899 18.399 128.679 17.1285L128.674 17.1309ZM121.315 21.3995C121.245 22.0207 121.074 22.6325 120.803 23.2256C120.667 23.5092 120.496 23.7928 120.29 24.0812C120.087 24.3648 119.75 24.4961 119.286 24.4679C118.823 24.414 118.533 24.2265 118.425 23.903C118.315 23.5795 118.191 23.2607 118.056 22.9513C117.976 22.745 117.939 22.513 117.953 22.2528C117.967 21.9949 117.99 21.7206 118.016 21.437C117.99 20.9963 118.023 20.5462 118.119 20.0774C118.212 19.6133 118.329 19.1585 118.465 18.7178C118.655 18.1506 119.078 17.7849 119.736 17.6325C119.792 17.6325 119.831 17.6255 119.86 17.6114C119.885 17.5973 119.916 17.5903 119.944 17.5903C120.218 17.5903 120.461 17.7216 120.681 17.9818C120.845 18.2115 120.994 18.46 121.13 18.7155C121.266 18.9757 121.35 19.2476 121.376 19.5312C121.402 20.1524 121.383 20.7736 121.315 21.3948V21.3995Z"
            fill="white" />
          <path
            d="M131.908 30.8696C133.269 30.8696 134.372 29.7645 134.372 28.4012C134.372 27.038 133.269 25.9329 131.908 25.9329C130.547 25.9329 129.444 27.038 129.444 28.4012C129.444 29.7645 130.547 30.8696 131.908 30.8696Z"
            fill="white" />
          <path
            d="M36.6432 20.6891C37.0854 20.6891 37.53 20.6891 37.9769 20.6867C37.7827 20.8555 37.5862 21.0243 37.3919 21.1931C37.1299 21.1157 36.8701 21.0431 36.6081 20.9704C36.5777 21.0993 36.5309 21.2212 36.4653 21.3361C36.6946 21.4627 36.9263 21.5869 37.1533 21.7182C37.1697 21.976 37.1907 22.2315 37.2094 22.4894C36.9052 22.1823 36.6034 21.8799 36.2969 21.5705C36.2875 21.5869 36.2711 21.6033 36.2571 21.6174C36.5613 21.9221 36.8655 22.2268 37.1697 22.5292C36.9123 22.5105 36.6572 22.4894 36.3998 22.4706C36.2781 22.2526 36.1518 22.0276 36.0301 21.8049C35.9084 21.8846 35.7727 21.9479 35.623 21.983C35.6885 22.2128 35.7563 22.4472 35.8172 22.6769C35.6487 22.8715 35.4802 23.0684 35.3118 23.2629C35.3141 22.848 35.3141 22.4378 35.3188 22.0276H35.2556C35.2556 22.4378 35.2579 22.8504 35.2579 23.2629C35.0895 23.0684 34.921 22.8715 34.7525 22.6769C34.818 22.4472 34.8859 22.2128 34.9514 21.983C34.79 21.9432 34.6449 21.8776 34.5115 21.7838C34.3852 22.0135 34.2611 22.2339 34.1348 22.4636C33.8774 22.4823 33.6177 22.5034 33.365 22.5222C33.6738 22.2151 33.9874 21.8987 34.2986 21.5916C34.2799 21.5752 34.2658 21.5611 34.2565 21.5447C33.9453 21.8588 33.6387 22.1682 33.3275 22.4823C33.3462 22.2245 33.3673 21.969 33.3837 21.7111C33.6224 21.5775 33.861 21.4462 34.0974 21.3126C34.0412 21.2142 34.0014 21.1063 33.971 20.9938C33.7136 21.0712 33.4515 21.1439 33.1895 21.2189C32.9953 21.0501 32.7987 20.8813 32.6045 20.7125C33.0467 20.7125 33.4913 20.7149 33.9336 20.7149C33.9312 20.6985 33.9312 20.6774 33.9312 20.661C33.9312 20.6446 33.9312 20.6305 33.9336 20.6141C33.4913 20.6141 33.0467 20.6164 32.6045 20.6164C32.7987 20.4476 32.9953 20.2789 33.1895 20.1101C33.4515 20.1875 33.7113 20.2601 33.971 20.3328C34.0108 20.1804 34.074 20.0374 34.1605 19.9085L34.1442 19.9249C33.9055 19.7913 33.6715 19.66 33.4328 19.5264C33.4141 19.2686 33.393 19.0084 33.3743 18.7552C33.6926 19.0693 34.0084 19.3905 34.3243 19.7093C34.3384 19.6928 34.3547 19.6788 34.3711 19.6671C34.0506 19.3483 33.737 19.0341 33.4141 18.7153C33.6715 18.7341 33.9265 18.7552 34.1839 18.7716C34.3173 19.0107 34.4483 19.2498 34.5841 19.4866C34.57 19.4959 34.5583 19.51 34.5466 19.5194C34.6683 19.4397 34.804 19.3811 34.9491 19.3436C34.8789 19.0927 34.8063 18.8396 34.7385 18.5841C34.907 18.3895 35.0754 18.1926 35.2439 17.998C35.2416 18.4364 35.2416 18.8701 35.2369 19.3037C35.2533 19.3014 35.2696 19.3014 35.286 19.3014C35.3094 19.3014 35.3328 19.3014 35.3562 19.3037C35.3539 18.8701 35.3539 18.4364 35.3492 17.998C35.5177 18.1926 35.6861 18.3895 35.8546 18.5841C35.7844 18.8396 35.7119 19.0951 35.6394 19.3459C35.7727 19.3834 35.8944 19.435 36.0044 19.5053C36.1378 19.2662 36.2688 19.0271 36.4022 18.7904C36.6596 18.7716 36.9146 18.7529 37.172 18.7341C36.8538 19.0482 36.5426 19.36 36.2267 19.6764C36.2407 19.6928 36.2571 19.7069 36.2688 19.7233C36.587 19.4045 36.8982 19.0904 37.2118 18.7716C37.193 19.0295 37.172 19.2897 37.1556 19.5475C36.9169 19.6811 36.6783 19.8124 36.4419 19.946C36.5192 20.0679 36.5777 20.2039 36.6104 20.3515C36.8725 20.2742 37.1322 20.2015 37.3943 20.1265C37.5885 20.2953 37.785 20.4641 37.9793 20.6328C37.5323 20.6305 37.0901 20.6305 36.6455 20.6305V20.6891H36.6432Z"
            fill="#E9B32A" />
          <path
            d="M45.5559 24.7586C45.5769 23.2443 45.6167 21.7159 45.6799 20.1617C45.7314 18.992 45.7829 17.8293 45.8273 16.6807C45.8694 15.5321 45.8998 14.3718 45.9303 13.2044C45.9303 12.82 45.8788 12.5902 45.7829 12.5105C45.6799 12.4262 45.4202 12.3863 45.0037 12.3863C43.953 12.3652 42.9235 12.3465 41.8963 12.3371C40.8667 12.316 39.8465 12.2668 38.8263 12.1566C38.1197 12.0863 37.4247 12.0159 36.7368 11.9667C36.0418 11.9175 35.3445 11.8823 34.6496 11.8823C33.6809 11.9151 32.7964 12.105 31.9868 12.4707C31.1631 12.8317 30.4377 13.2958 29.8036 13.8701C29.1695 14.4351 28.629 15.0985 28.1821 15.8486C27.7235 16.6034 27.3725 17.3816 27.1221 18.1763C26.7594 19.346 26.612 20.504 26.6939 21.6737C26.7805 22.8364 26.9138 24.0061 27.08 25.1641C27.1315 25.7079 27.2765 26.2236 27.5082 26.6971C27.7258 27.1824 27.9879 27.6535 28.2663 28.1177C28.7132 28.8959 29.3778 29.4796 30.274 29.8851C31.1561 30.286 32.0827 30.4899 33.0397 30.4899C33.9429 30.4899 34.7455 30.3165 35.4498 29.9648C36.1565 29.6109 36.835 29.1374 37.4785 28.542C37.6236 28.4224 37.7476 28.2911 37.8599 28.1575C37.9676 28.0263 38.1431 27.9278 38.3583 27.8458C38.3583 28.106 38.3583 28.3404 38.3373 28.5607C38.3279 28.7834 38.3069 28.9944 38.2741 29.2053C38.253 29.6202 38.2834 29.864 38.377 29.9437C38.48 30.0234 38.7514 30.075 39.2101 30.0938H39.8863C40.4783 30.0938 41.0703 30.0727 41.6646 30.0445C42.2473 30.0047 42.8393 29.9836 43.4312 29.9836C43.7144 29.9836 43.9928 29.9836 44.2853 30.0047C44.5638 30.0141 44.8469 30.0445 45.1253 30.0938C45.1768 30.0938 45.2189 30.1031 45.2517 30.1149C45.2821 30.136 45.3242 30.136 45.3757 30.136C45.7688 30.136 45.9279 29.8851 45.8437 29.3601C45.612 27.8059 45.5208 26.2729 45.5512 24.7609L45.5559 24.7586ZM38.4098 22.6887C36.7602 25.1711 35.4966 27.0745 34.1137 26.9339C32.0265 26.7159 29.5626 21.8308 31.4486 18.5326C33.4773 14.993 39.678 14.8054 40.8456 16.519C41.6974 17.7543 40.0852 20.1805 38.4098 22.6887Z"
            fill="white" />
        </svg>
        <p class="pt-[72px] pb-[20px] font-bold">Connect with us</p>
        <div class="flex flex-row">
          <div class="pr-[13px]">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none">
              <path
                d="M27.2655 27.266H22.5241V19.8406C22.5241 18.07 22.4925 15.7906 20.0581 15.7906C17.5886 15.7906 17.2108 17.7198 17.2108 19.7117V27.2655H12.4694V11.9959H17.0211V14.0827H17.0848C18.013 12.4957 19.7387 11.5479 21.5758 11.6161C26.3814 11.6161 27.2675 14.7771 27.2675 18.8894L27.2655 27.266ZM7.11951 9.90867C5.5999 9.90894 4.36779 8.67725 4.36752 7.15761C4.36725 5.63797 5.59891 4.40584 7.11852 4.40556C8.63813 4.40529 9.87023 5.63698 9.87051 7.15662C9.87064 7.88638 9.58087 8.5863 9.06496 9.10241C8.54905 9.61852 7.84925 9.90854 7.11951 9.90867ZM9.49021 27.266H4.74387V11.9959H9.49021V27.266ZM29.6293 0.0023861H2.36132C1.07257 -0.0121577 0.0157284 1.02017 0 2.30893V29.6906C0.0151899 30.98 1.07195 32.0133 2.36132 31.9998H29.6293C30.9212 32.0158 31.9821 30.9825 32 29.6906V2.30695C31.9816 1.01565 30.9206 -0.0166202 29.6293 0.000202735"
                fill="white" />
            </svg>
          </div>
          <div class="pr-[13px]">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none">
              <g clip-path="url(#clip0_379_775)">
                <path
                  d="M32.1956 16.0978C32.1956 7.20722 24.9883 0 16.0978 0C7.20722 0 0 7.20722 0 16.0978C0 24.1326 5.88673 30.7924 13.5825 32V20.751H9.49518V16.0978H13.5825V12.5512C13.5825 8.51673 15.9858 6.2882 19.6629 6.2882C21.4241 6.2882 23.2663 6.60261 23.2663 6.60261V10.5642H21.2364C19.2367 10.5642 18.6131 11.805 18.6131 13.0781V16.0978H23.0777L22.364 20.751H18.6131V32C26.3088 30.7924 32.1956 24.1326 32.1956 16.0978Z"
                  fill="white" />
              </g>
              <defs>
                <clipPath id="clip0_379_775">
                  <rect width="32" height="32" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="pr-[13px]">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="32"
              viewBox="0 0 40 32"
              fill="none">
              <path
                d="M39.376 3.7881C37.9272 4.43061 36.3703 4.86486 34.7361 5.06016C36.4041 4.06031 37.685 2.47715 38.2881 0.590806C36.7273 1.51648 34.9984 2.1888 33.1583 2.55118C31.6846 0.981123 29.5851 0 27.2616 0C22.8 0 19.1829 3.61699 19.1829 8.07828C19.1829 8.71143 19.2545 9.32802 19.3922 9.91925C12.6781 9.58237 6.72556 6.36621 2.74115 1.47874C2.04578 2.67188 1.6474 4.05959 1.6474 5.54006C1.6474 8.34272 3.07372 10.8154 5.24135 12.264C3.917 12.2221 2.67144 11.8587 1.58215 11.2537C1.58158 11.2874 1.58158 11.3212 1.58158 11.3552C1.58158 15.2693 4.36623 18.5345 8.06186 19.2765C7.38392 19.4612 6.67026 19.5598 5.9334 19.5598C5.41289 19.5598 4.90677 19.5093 4.41361 19.4149C5.44155 22.6245 8.42496 24.96 11.96 25.0253C9.19522 27.1919 5.71189 28.4834 1.9271 28.4834C1.27509 28.4834 0.631998 28.4452 0 28.3706C3.57508 30.6627 7.82148 32 12.3836 32C27.2427 32 35.3683 19.6903 35.3683 9.01504C35.3683 8.66476 35.3605 8.31636 35.3449 7.96997C36.9232 6.83099 38.2929 5.40813 39.376 3.7881Z"
                fill="white" />
            </svg>
          </div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="33"
            height="32"
            viewBox="0 0 33 32"
            fill="none">
            <g clip-path="url(#clip0_379_780)">
              <path
                d="M16.3759 2.88294C20.6481 2.88294 21.1542 2.8992 22.8413 2.97618C24.4013 3.04737 25.2485 3.30803 25.8123 3.52708C26.5591 3.81733 27.0922 4.16411 27.652 4.72397C28.2119 5.28383 28.5586 5.81688 28.8488 6.56366C29.0679 7.12752 29.3286 7.97471 29.3998 9.53463C29.4768 11.2218 29.493 11.7278 29.493 16C29.493 20.2722 29.4768 20.7782 29.3998 22.4654C29.3286 24.0254 29.0679 24.8725 28.8488 25.4364C28.5586 26.1832 28.2119 26.7162 27.652 27.2761C27.0922 27.836 26.5591 28.1827 25.8123 28.4729C25.2485 28.692 24.4013 28.9527 22.8413 29.0239C21.1544 29.1009 20.6484 29.1171 16.3759 29.1171C12.1035 29.1171 11.5975 29.1009 9.9106 29.0239C8.35062 28.9527 7.50343 28.692 6.93963 28.4729C6.1928 28.1827 5.65974 27.836 5.09988 27.2761C4.54002 26.7162 4.19324 26.1832 3.90306 25.4364C3.68394 24.8725 3.42329 24.0254 3.35209 22.4654C3.27511 20.7782 3.25885 20.2722 3.25885 16C3.25885 11.7278 3.27511 11.2218 3.35209 9.53469C3.42329 7.97471 3.68394 7.12752 3.90306 6.56366C4.19324 5.81688 4.54002 5.28383 5.09988 4.72397C5.65974 4.16411 6.1928 3.81733 6.93963 3.52708C7.50343 3.30803 8.35062 3.04737 9.91054 2.97618C11.5977 2.8992 12.1037 2.88294 16.3759 2.88294ZM16.3759 0C12.0306 0 11.4858 0.0184185 9.7792 0.0962843C8.07612 0.174023 6.91309 0.444458 5.89531 0.840011C4.84316 1.2489 3.95088 1.79599 3.0614 2.68548C2.17191 3.57497 1.62481 4.46725 1.21592 5.51939C0.820371 6.53717 0.549936 7.70021 0.472197 9.40328C0.394332 11.1098 0.375977 11.6547 0.375977 16C0.375977 20.3454 0.394332 20.8903 0.472197 22.5968C0.549936 24.2999 0.820371 25.4629 1.21592 26.4807C1.62481 27.5327 2.17191 28.4251 3.0614 29.3146C3.95088 30.2041 4.84316 30.7512 5.89531 31.1601C6.91309 31.5556 8.07612 31.826 9.7792 31.9038C11.4858 31.9816 12.0306 32 16.3759 32C20.7213 32 21.2662 31.9816 22.9727 31.9038C24.6758 31.826 25.8388 31.5556 26.8566 31.1601C27.9087 30.7512 28.801 30.2041 29.6905 29.3146C30.58 28.4251 31.1271 27.5328 31.536 26.4807C31.9315 25.4629 32.202 24.2999 32.2797 22.5968C32.3576 20.8903 32.376 20.3454 32.376 16C32.376 11.6547 32.3576 11.1098 32.2797 9.40328C32.202 7.70021 31.9315 6.53717 31.536 5.51939C31.1271 4.46725 30.58 3.57497 29.6905 2.68548C28.801 1.79599 27.9087 1.2489 26.8566 0.840011C25.8388 0.444458 24.6758 0.174023 22.9727 0.0962843C21.2662 0.0184185 20.7213 0 16.3759 0ZM16.3759 7.78379C11.8383 7.78379 8.1597 11.4623 8.1597 16C8.1597 20.5377 11.8383 24.2163 16.3759 24.2163C20.9136 24.2163 24.5922 20.5377 24.5922 16C24.5922 11.4623 20.9136 7.78379 16.3759 7.78379ZM16.3759 21.3334C13.4304 21.3334 11.0426 18.9455 11.0426 16C11.0426 13.0545 13.4304 10.6667 16.3759 10.6667C19.3214 10.6667 21.7093 13.0545 21.7093 16C21.7093 18.9455 19.3214 21.3334 16.3759 21.3334ZM26.8368 7.45918C26.8368 8.51958 25.9772 9.37921 24.9168 9.37921C23.8564 9.37921 22.9968 8.51958 22.9968 7.45918C22.9968 6.39878 23.8564 5.53921 24.9168 5.53921C25.9772 5.53921 26.8368 6.39878 26.8368 7.45918Z"
                fill="white" />
            </g>
            <defs>
              <clipPath id="clip0_379_780">
                <rect width="32" height="32" fill="white" transform="translate(0.375977)" />
              </clipPath>
            </defs>
          </svg>
        </div>
      </div>
      <div class="flex flex-col">
        <div>
          <h3 class="text-sm font-semibold pb-[15px] text-white whitespace-nowrap">About Us</h3>
          <ul role="list" class="mt-6 space-y-4">
            <li>
              <a href="#" class="text-sm leading-[15px] text-gray-300 hover:text-white">Career</a>
            </li>

            <li>
              <a href="#" class="text-sm leading-[15px] text-gray-300 hover:text-white">Investor</a>
            </li>

            <li>
              <a href="#" class="text-sm leading-[15px] text-gray-300 hover:text-white"
                >Milestone</a
              >
            </li>

            <li>
              <a href="#" class="text-sm leading-[15px] text-gray-300 hover:text-white"
                >Trusted by</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col whitespace-nowrap">
        <div>
          <h3 class="text-sm font-semibold pb-[15px] text-white">Hanap Trabaho</h3>
          <ul role="list" class="mt-6 space-y-4">
            <li>
              <a href="#" class="text-sm leading-[15px] text-gray-300 hover:text-white"
                >Bagong Dagdag</a
              >
            </li>

            <li>
              <a href="#" class="text-sm leading-[15px] text-gray-300 hover:text-white"
                >Patok na Trabaho</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col whitespace-nowrap">
        <div>
          <h3 class="text-sm font-semibold pb-[15px] text-white">Employer</h3>
          <ul role="list" class="mt-6 space-y-4">
            <li>
              <a href="#" class="text-sm leading-[15px] text-gray-300 hover:text-white"
                >Subscription</a
              >
            </li>

            <li>
              <a href="#" class="text-sm leading-[15px] text-gray-300 hover:text-white">Listings</a>
            </li>
            <li>
              <a href="#" class="text-sm leading-[15px] text-gray-300 hover:text-white"
                >Hanap Trabahador</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col whitespace-nowrap">
        <div>
          <h3 class="text-sm font-semibold pb-[15px] text-white">Blog</h3>
          <ul role="list" class="mt-6 space-y-4">
            <li>
              <a href="#" class="text-sm leading-[15px] text-gray-300 hover:text-white"
                >New Article</a
              >
            </li>

            <li>
              <a href="#" class="text-sm leading-[15px] text-gray-300 hover:text-white"
                >Popular Article</a
              >
            </li>
            <li>
              <a href="#" class="text-sm leading-[15px] text-gray-300 hover:text-white">News</a>
            </li>
          </ul>
        </div>
      </div>
        
        </div>
    </div>
  </div>
</footer> -->

<div class="w-full bg-blue-500">
  <div>
    <div></div>
    <h6>Connect with us</h6>
    <nav>
      <ul>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </nav>
  </div>
  <div>
    <nav>
      <ul>
        <li><a href="/"></a></li>
        <li><a href="/about"></a></li>
        <li><a href="/trabaho"></a></li>
        <li><a href="/blog"></a></li>
        <li><a href="/employer"></a></li>
      </ul>
    </nav>
  </div>
  <div>
    <nav>
      <ul>
        <li><a href="/"></a></li>
        <li><a href="/about"></a></li>
        <li><a href="/trabaho"></a></li>
        <li><a href="/blog"></a></li>
        <li><a href="/employer"></a></li>
      </ul>
    </nav>
  </div>


</div>