<div class="w-full bg-blue-500 2xl:px-[22rem] | xl:px-[19rem] | text-white | font-inter | py-[7rem] | lg:px-[8rem] | md:px-[5rem] sn:px-[2rem] | px-[3rem] | relative">
  <div class="grid | md:grid-cols-4 | grid-cols-2  | md:gap-0 | gap-[4rem]">
     <!-- First Column-->

  <div>
    <div class="mb-[4rem] ">
      <img src="/assets/images/icons/hanap-white-icon.svg">
    </div>
    <h6 class="mb-[1rem]">Connect with us</h6>
    <nav>
      <ul class="flex gap-3 | items-center">
        <li> <a href="https://www.facebook.com/"> <img class="hover:-translate-y-3 transition-al" src="/assets/images/icon-links/facebook.svg"> </a></li>
        <li> <a href="https://www.linkedin.com/"> <img class="hover:-translate-y-3 transition-al" src="/assets/images/icon-links/linkedin.svg"> </a></li>
        <li> <a href="https://twitter.com/home"> <img class="hover:-translate-y-3 transition-al" src="/assets/images/icon-links/twitter.svg"> </a></li>
        <li> <a href="https://www.instagram.com/"> <img class="hover:-translate-y-3 transition-al" src="/assets/images/icon-links/instagram.svg"> </a> </li>
      </ul>
    </nav>
  </div>

  <!-- Second Column-->

  <div>
    <nav>
      <ul>
        <li class="hover:underline transition-all mb-[1rem] "><a href="/" >Home</a></li>
        <li class="hover:underline transition-all mb-[1rem] "><a href="/about" >About Us</a></li>
        <li class="hover:underline transition-all mb-[1rem] "><a href="/trabaho" >Trabaho</a></li>
        <li class="hover:underline transition-all mb-[1rem] "><a href="/blog" >Blog</a></li>
      </ul>
    </nav>
  </div>

  <!-- Third Column-->

  <div>
    <nav>
      <ul>
        <li class="hover:underline transition-all mb-[1rem] "><a href="/employer" >Employer</a></li>
        <li class="hover:underline transition-all mb-[1rem] "><a href="/about" >Why Us</a></li>
        <li class="hover:underline transition-all mb-[1rem] "><a href="/trabaho" >Listing</a></li>
        <li class="hover:underline transition-all mb-[1rem] "><a href="/blog" >Articles</a></li>
      </ul>
    </nav>
  </div>

  <!-- Fourth Column-->

  <div>
    <nav>
      <ul>
        <li class="hover:underline transition-all mb-[1rem] "><a href="/register" >Register</a></li>
        <li class="hover:underline transition-all mb-[1rem] "><a href="/login" >Login</a></li>
        <li class="hover:underline transition-all mb-[1rem] "><a href="/privacy" >Privacy Policy</a></li>
        <li class="hover:underline transition-all mb-[1rem] "><a href="/cookies" >Cookies Policy</a></li>
      </ul>
    </nav>
  </div>
  </div>
  <div class="absolute w-full left-0 right-0 bottom-4 flex justify-center">
    <button class="flex justify-center"> <img class="self-center hover:-translate-y-3 transition-all" src="/assets/images/icon-links/arrow-up.svg"></button>
  </div>


</div>