<div class="px-[30px] | xl:px-[106px] | md:px-[60px] | py-[24px] | font-inter | w-full | bg-[#ECFCFF]">
    <div class="flex | justify-between">
        <!-- Right Section -->
        <div className="cursor-pointer">
        <!-- Start of Logo-->
            <a href="/home">
                <img src="/assets/images/icons/hanap-icon.svg" alt="" />
            </a>
        <!-- End of Logo-->
        </div>
        <!-- Left Section-->
        <div class="flex | items-center | text-[16px] | font-medium | gap-[35px]">
        <!-- Start Navigation-->
            <nav class="hidden xl:flex">
                <ul class="flex | gap-[35px]">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/trabaho">Trabaho</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/employer">Employer</a></li>
                </ul>
            </nav>
        <!-- End Navigation -->

        <!-- Button Section -->
            <div class="inline-flex | gap-[20px]">
            <!-- Header Buttons -->
                <div class="hidden | gap-[10px] | md:flex">
                    <a href="/login">
                        <button class="primary-button">Sign In</button>
                    </a>
                    <a href="/register">
                        <button class="secondary-button">Sign Up</button>
                    </a>
                </div>
            <!-- Header Buttons End-->

            <!--  Responsive Hamburger -->
                <button class="flex | xl:hidden | items-center" id="hamburger-button">
                    <img src="/assets/images/icons/hamburger-menu.svg" alt="hamburger" />
                </button>
            <!-- End of Responsive Hamburger-->
            </div>
        <!-- End of Button Section-->
        </div>
        <!-- End of Left Section-->
    </div>
    <div id="mobile-menu" class="top-68 right-0 justify-center absolute hidden w-full origin-top animate-open-menu flex-col bg-[#ECFCFF]">
        <!-- <button class="text-8xl self-end px-6">
                  &times;
              </button> -->
            <nav class="[&>*]w-full | flex | flex-col | justify-center | gap-[4rem] | text-blue-500 | py-[4rem]"  aria-label="mobile">
                <a href="/" class="font-inter | font-semibold | text-[20px] | text-center hover:underline">Home</a>
                <a href="/about" class="font-inter | font-semibold | text-[20px] | text-center hover:underline">About Us</a>
                <a href="/trabaho" class="font-inter | font-semibold | text-[20px] | text-center hover:underline">Trabaho</a>
                <a href="/blog" class="font-inter | font-semibold | text-[20px] | text-center hover:underline">Blog</a>
                <a href="/employer" class="font-inter | font-semibold | text-[20px] | text-center hover:underline">Employer</a>
                <a href="/login" class="font-inter | font-semibold | text-[20px] | text-center hover:underline inline-block md:hidden">Sign In</a>
                <a href="/register" class="font-inter | font-semibold | text-[20px] | text-center hover:underline inline-block md:hidden">Sign Up</a>
            </nav>
    </div>
</div>

<!-- Mobile Toggle -->

