<div class="px-[30px] | xl:px-[106px] | md:px-[60px] | py-[24px] | font-inter | bg-[#ECFCFF] | w-full">
	<div class="flex | justify-between">
		<!-- Right Section -->
		<div>
			<!-- Start of Logo-->
				<img src="/assets/images/icons/hanap-icon.svg" alt="#">
			  <!-- End of Logo-->
		</div>
		<!-- Left Section-->
		<div class="flex | items-center | text-[16px] | font-medium | gap-[35px]">

			<!-- Start Navigation-->
			<nav class="hidden xl:flex">
				<ul class="flex | gap-[35px]">
					<li><a href="/">Home</a></li>
					<li><a href="Trabaho">Trabaho</a></li>
					<li><a href="About Us">About Us</a></li>
					<li><a href="Blog">Blog</a></li>
					<li><a href="Employer">Employer</a></li>
				</ul>
			</nav>
			<!-- End Navigation -->


			<!-- Button Section -->
			<div class="inline-flex | gap-[20px]">
				<!-- Header Buttons -->
				<div class="hidden | gap-[10px] | md:flex">
					<button class="primary-button">Sign In</button>
					<button class="secondary-button">Sign Up</button>
				</div>
				<!-- Header Buttons End-->

				<!--  Responsive Hamburger -->
				<div class="flex | xl:hidden | items-center">
					<img src="/assets/images/icons/hamburger-menu.svg" alt="hamburger">
				</div>
				<!-- End of Responsive Hamburger-->
			</div> 
			<!-- End of Button Section-->
		</div>

		<!-- End of Left Section-->
	</div>
</div> 