<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hanap</title>

    <link rel="stylesheet" href="/assets/styles/style.css" />

    <link rel="icon" type="image/x-icon" href="/assets/images/icons/favcon.svg">

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />

</head>