<div
  class="px-[30px] | xl:px-[106px] | md:px-[60px] | py-[24px] | font-inter | w-full | bg-[#ECFCFF]"
>
  <div class="flex | justify-between">
    <!-- Right Section -->
    <div className="cursor-pointer">
      <!-- Start of Logo-->
      <a href="/">
        <img src="/assets/images/icons/hanap-icon.svg" alt="" />
      </a>

      <!-- End of Logo-->
    </div>
    <!-- Left Section-->
    <div class="flex | items-center | text-[16px] | font-medium | gap-[35px]">
      <!-- Start Navigation-->
      <nav class="hidden xl:flex">
        <ul class="flex | gap-[35px]">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/trabaho">Trabaho</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/employer">Employer</a></li>
        </ul>
      </nav>
      <!-- End Navigation -->

      <!-- Button Section -->
      <div class="inline-flex | gap-[20px]">
        <!-- Header Buttons -->
        <div class="hidden | gap-[10px] | md:flex">
          <a href="/login">
            <button class="primary-button">Sign In</button>
          </a>
          <a href="/register">
            <button class="secondary-button">Sign Up</button>
          </a>
        </div>
        <!-- Header Buttons End-->

        <!--  Responsive Hamburger -->
        <div class="flex | xl:hidden | items-center">
          <img src="/assets/images/icons/hamburger-menu.svg" alt="hamburger" />
        </div>
        <!-- End of Responsive Hamburger-->
      </div>
      <!-- End of Button Section-->
    </div>

    <!-- End of Left Section-->
  </div>
</div>
