<div class="w-full | px-[1rem] | 2xl:px-[15rem] | xl:px-[12rem] |lg:px-[9rem] | md:px-[3rem]">
    <!--Start of section content-->
    <div class="container | grid | grid-cols-1 | lg:grid-cols-2 | mx-auto | gap-[5rem] | pt-[10px] | pb-[20px] | px-[1rem] | md:pt-[50px] | md:pb-[7rem] | lg:pt-[150px]">
      <!-- Image Container -->
        <div>
            <img src="assets/images/illustration/newsletter-illustration.svg" class="h-auto | max-w-full | hidden | mx-auto | lg:flex">
        </div>
      
          <!-- End of Image Container -->
  
        <div class="lg:ml-[120px] | ml-[0px] | flex | flex-col | lg:justify-center | gap-[1.275rem] | lg:items-start | items-center">
            <h2 class="text-[40px] | font-assistant | font-bold | text-center | lg:text-left">
                Mag-<span class="text-red-800">subscribe</span> sa aming blog
            </h2>
            
            <p class="font-inter | text-[20px] | leading-[23.71px] | max-w-[450px] | lg:text-left | text-center">
                Mag abang sa mga bagong balita patungkol sa mga bagong trabaho kumpanya at marami pang iba
            </p>
        <form class="flex | flex-col | items-center | xl:flex-row | md:justify-between | md:items-center | gap-[1.275rem]">

            <div class="primary-search-bar | h-[42px] | min-w-[300px]">
                    <img class="ml-[1rem]" src="assets/images/icons/email-icon.svg" />
                    <input type="email" class="bg-transparent" placeholder="Your email" >
            </div>
  
            <button class="secondary-button | xl:w-[130px] | w-full"> Subscribe </button>
        </form>
      </div>
    </div>
    <!--End of section content-->
  </div>