<div class="w-full | h-[92px] | py-[4rem]">
   <div class="flex | gap-[10rem] | justify-center | items-center | h-full">
    <% trustedInformation.forEach(function(trustedInformation) { %> 
        <img src="<%= trustedInformation.image %>"> <% }); %>
    </div>
</div>
