<div class="max-w-full | h-[92px] | py-[4rem] lg:block hidden">
   <div class="flex | gap-[10rem] | justify-center | items-center | h-full">
    <% trustedInformation.forEach(function(trustedInformation) { %> 
        <img src="<%= trustedInformation.image %>"> <% }); %>s
    </div>
</div>
