<div class="2xl:px-[20rem] | xl:px-[15rem] | lg:px-[10rem] | md:px-[5rem] | py-[4rem] | px-[2rem]">
    <h2 class="lg:text-[40px] | md:text-[32px] | text-[24px] | max-w-[1200px] | text-center | font-inter | font-bold" >
        Welcome sa aming <span class="text-blue-500"> weekly blog </span> Linggo-linggo nagkakaroon kami ng <span class="text-red"> updates </span> sa mga  <span  class="text-blue-500"> bagong 
        trabaho mga bagong talented na trabahador </span> at mga balita na <span class="text-red"> makakatulong sainyo </span> 
    </h2>
</div>

