<div class="w-full | bg-[#ECFCFF] | 2xl:px-[25rem] | xl:px-[16rem] | lg:px-[12rem]  | py-[4rem] | px-[1rem] ">
    <form class="flex |  gap-[15px] | md:flex-nowrap | flex-wrap">
        <div class="flex | bg-white | py-[10px] | flex-grow | rounded-[6px] | gap-[20px] | items-center | min-w-[390px] | md:min-w-[450px] | border-[1px] | border-blue-500">
            <img class="ml-[1rem]" src="/assets/images/icons/search-icon.svg" alt="search-icon" />
            <input class="placeholder:font-inter | placeholder:text-blue-500 | placeholder:text-[16px]"  placeholder="Search Article" type="text" />
        </div>
        <button class="border-solid | border-blue-500 | border-[1px] | bg-blue-500 
            | text-white | font-inter | rounded-[6px] | lg:w-fit | w-full | h-fit 
            | py-[9px] | px-[50px] | hover:opacity-90"> Search </button>
    </form>
    <div class="[&>*]:small-primary-button | gap-[6px] | flex | flex-wrap | mt-[1rem]">
        <a href="#">Latest Article</a>
        <a href="#">Popular Article</a>
        <a href="#">Bagong Balita</a>
        <a href="#">Cook</a>
      </div>

</div>