<div class="2xl:px-[20rem] | xl:px-[15rem] | lg:px-[10rem] | md:px-[5rem] | py-[4rem] | px-[2rem]">
    <h2 class="lg:text-[40px] | md:text-[32px] | text-[24px] | max-w-[1200px] | text-center | font-inter | font-bold" >
        Sa halagang <span class="text-blue-500"> bente pesos</span>  makakapagpost kana ng trabaho na good for 2 weeks.
    </h2>
</div>