<div class="font-inter | flex | flex-col | items-center | px-[2rem] | gap-[4rem] | py-[5rem]">
    <!-- Start of Pricing Content Container-->

      <!-- Start of pricing text container-->
    <div class="flex | flex-col | gap-5">
        <h2 class="text-blue-500 | text-lg | font-medium | text-center" > Mag hanap ng trabahador </h2>
        <p class="text-2xl | font-bold | text-center | md:text-3xl | max-w-lg"> Mabilis at maaasahan makakakuha agad ng trabahador </p>
    </div>
      <!-- End of pricing text container-->
  
      <!-- Start of Pricing Card Container-->
    <div class="grid | grid-cols-1 | lg:grid-cols-3 | gap-6">


        <!-- Start of first card -->
        <div  class="border | border-l-blue-500 | border-l-4 | shadow-md | rounded-md | grid | place-items-center | p-6 | | max-w-[300px] | hover:scale-105 | transition-all"">
            <h3 class="font-bold | mb-5 | text-xl | text-blue-500"> Isang Trabaho </h3>
            <span class="text-blue-500 | font-bold | text-5xl | mb-5 | md:mb-10">&#8369;50</span>
            <p class="text-center | mb-5">

            Good for two weeks and the scope of advertisments is in your area
            (Barangay) only
            </p>
            <div class="flex | flex-col | w-full | gap-4">
                <button class="secondary-button"> Buy Now </button>
                <button class="primary-button"> Add Card </button>
            </div>
        </div>
        <!-- End of first card -->


        <!-- Start Second Card -->

        <div class="border | border-l-red | border-l-4 | shadow-md | rounded-md | grid | place-items-center | p-6 | | max-w-[300px] | hover:scale-105 | transition-all" >
            <h3 class="font-bold | mb-5 | text-xl | text-red">Isang Trabaho</h3>
            <span class="text-red | font-bold | text-5xl | mb-5 | md:mb-10">&#8369;20</span>
            <p class="text-center | mb-5">
                Good for two weeks and the scope of advertisments is in your area
                (Barangay) only
            </p>

            <div class="flex | flex-col | w-full | gap-4">
                <button class="secondary-button | bg-red | border-red"> Buy Now </button>
                <button class="primary-button | text-red | border-red | hover:bg-red"> Add Card </button>
            </div>
        </div>
        <!-- End Second Card -->


        <!-- Start of third card -->
        <div class="border | border-l-blue-500 | border-l-4 | shadow-md | rounded-md | grid | place-items-center | p-6 | | max-w-[300px] | hover:scale-105 | transition-all">
            <h3 class="font-bold | mb-5 | text-xl | text-blue-500"> Isang Trabaho </h3>
            <span class="text-blue-500 | font-bold | text-5xl | mb-5 | md:mb-10">&#8369;100</span>
            <p class="text-center | mb-5">
                Good for two weeks and the scope of advertisments is in your area
                (Barangay) only
            </p>
  
            <div class="flex | flex-col | w-full | gap-4">
                <button class="secondary-button"> Buy Now </button>
                <button class="primary-button"> Add Card </button>
            </div>
        </div>
      <!-- End of Pricing Card Container-->
    </div>
    <!-- End of Pricing Content Container-->
</div>