<main
  class="[&>]:bg-green-500 | [&>]:container | [&>*]:xl:p-6 | h-10vh | font-inter"
>
  <section class="">
    <div class="flex | justify-center | text-blue-500 | text-xl | my-2 | font-bold">
      <h1>Mga benefits sa pagpili sa amin</h1>
    </div>
    <div class="flex | justify-center | text-3xl | font-extrabold">
      <h1>Bakit kami ay pinipili ng nakakarami?</h1>
    </div>

    <section
      class="mx-32 | mt-8 | p-2 | sm:p-3 | md:p-4 | lg:p-5 | xl:p-6 | grid | grid-cols-1 | md:grid-cols-2 | xl:grid-cols-4"
    >

      <div class="card | mr-2">
        <div class="flex | justify-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            viewBox="0 0 40 30"
            fill="none"
            class=""
          >
            <g clip-path="url(#clip0_383_373)">
              <path
                d="M38 17.45V23.85C38 26.06 36.21 27.85 34 27.85H6C3.79 27.85 2 26.06 2 23.85V6C2 3.79 3.79 2 6 2H34C36.21 2 38 3.79 38 6V11.62"
                stroke="#2D317B"
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M2 11.62H38"
                stroke="#2D317B"
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M9.3501 19.88H17.4301"
                stroke="#2D317B"
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </g>
            <defs>
              <clipPath id="clip0_383_373">
                <rect width="40" height="29.85" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <div
          class="text-center | mt-8 | font-extrabold | text-lg"
        >
          <h1>Maasahan</h1>
        </div>
        <div class="text-center | mt-2 | font-normal">
          <h1 class="problem">
            It's a dangerous business, Frodo, going out your door. You step onto
            the road
          </h1>
        </div>
      </div>
      <div class="card | mx-2">
        <div class="flex | justify-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="42"
            height="38"
            viewBox="0 0 42 38"
            fill="none"
          >
            <g clip-path="url(#clip0_384_377)">
              <path
                d="M27.31 24.29C31.3251 24.29 34.58 21.0351 34.58 17.02C34.58 13.0049 31.3251 9.75 27.31 9.75C23.2949 9.75 20.04 13.0049 20.04 17.02C20.04 21.0351 23.2949 24.29 27.31 24.29Z"
                stroke="#2D317B"
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M39.9999 35.37C39.9999 29.25 35.0399 24.29 28.9199 24.29H25.4599C19.3399 24.29 14.3799 29.25 14.3799 35.37"
                stroke="#2D317B"
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M11.9401 13.18C15.0274 13.18 17.5301 10.6773 17.5301 7.59C17.5301 4.50273 15.0274 2 11.9401 2C8.85283 2 6.3501 4.50273 6.3501 7.59C6.3501 10.6773 8.85283 13.18 11.9401 13.18Z"
                stroke="#2D317B"
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M13.1898 13.19H10.5298C5.81977 13.19 2.00977 17.01 2.00977 21.71"
                stroke="#2D317B"
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M9.58984 13.19H12.2498C14.8398 13.19 17.1598 14.35 18.7198 16.17"
                stroke="#2D317B"
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </g>
            <defs>
              <clipPath id="clip0_384_377">
                <rect width="42" height="37.37" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <div
          class="text-center | mt-8 | font-extrabold | text-lg"
        >
          <h1>Mapagkakatiwalaan</h1>
        </div>
        <div class="text-center | mt-2 | font-normal">
          <h1 class="problem">
            Three Rings for the Elven-kings under the sky, Seven for the
            Dwarf-lords in halls of stone
          </h1>
        </div>
      </div>
      <div class="card | mx-2">
        <div class="flex | justify-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            viewBox="0 0 40 40"
            fill="none"
          >
            <g clip-path="url(#clip0_384_393)">
              <path
                d="M26.9 16.7H20V2L2 23.3H20V38L38 16.7H26.9Z"
                stroke="#2D317B"
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </g>
            <defs>
              <clipPath id="clip0_384_393">
                <rect width="40" height="40" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <div
          class="text-center | mt-8 | font-extrabold || text-lg"
        >
          <h1>Mabilis</h1>
        </div>
        <div class="text-center | mt-2 | font-normal">
          <h1 class="problem">
            Nine for Mortal Men, doomed to die,One for the Dark Lord on his dark
            throne In the Land of Mordor
          </h1>
        </div>
      </div>
      <div class="card | ml-2">
        <div class="flex | justify-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            viewBox="0 0 40 30"
            fill="none"
          >
            <g clip-path="url(#clip0_384_383)">
              <path
                d="M36 2H4C2.89543 2 2 2.89543 2 4V25.85C2 26.9546 2.89543 27.85 4 27.85H36C37.1046 27.85 38 26.9546 38 25.85V4C38 2.89543 37.1046 2 36 2Z"
                stroke="#2D317B"
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M37.9998 19.19V25.85C37.9998 26.95 37.0998 27.85 35.9998 27.85H29.3398C29.3398 23.07 33.2198 19.19 37.9998 19.19Z"
                stroke="#2D317B"
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M29.3398 2H35.9998C37.0998 2 37.9998 2.9 37.9998 4V10.66C33.2198 10.66 29.3398 6.78 29.3398 2Z"
                stroke="#2D317B"
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M10.6602 27.85H4.00016C2.90016 27.85 2.00016 26.95 2.00016 25.85L2.00016 19.19C6.78016 19.19 10.6602 23.07 10.6602 27.85Z"
                stroke="#2D317B"
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M2.00016 10.66V3.99997C2.00016 2.89997 2.90016 1.99997 4.00016 1.99997H10.6602C10.6602 6.77997 6.78016 10.66 2.00016 10.66Z"
                stroke="#2D317B"
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M19.45 14.92H19.21C17.44 14.92 16 13.48 16 11.71C16 9.94 17.44 8.5 19.21 8.5H22.64"
                stroke="#2D317B"
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M19.4501 14.92H20.4901C22.2601 14.92 23.7001 16.36 23.7001 18.13C23.7001 19.9 22.2601 21.34 20.4901 21.34H17.0601"
                stroke="#2D317B"
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </g>
            <defs>
              <clipPath id="clip0_384_383">
                <rect width="40" height="29.85" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <div
          class="text-center | mt-8 | font-extrabold | text-lg"
        >
          <h1>Sakto sa Budget</h1>
        </div>
        <div class="text-center | mt-2 | font-normal">
          <h1 class="problem">
            Where the Shadows lie. One Ring to rule them all, One Ring to find
            them, One Ring to bring them all
          </h1>
        </div>
      </div>


    </section>
  </section>
</main>

<!-- 
<section
class="container | mx-auto | p-2 | sm:p-3 | md:p-4 | lg:p-5 | xl:p-[3.5rem] | flex | justify-center"
>
<h1 class="font-bold text-5xl text-red">Mga bagong dagdag na trabaho</h1>
</section>

<!-- Slider main container -->
<!-- 
<section
class="| mx-32 | mt-8 | p-2 | sm:p-3 | md:p-4 | lg:p-5 | xl:p-6 | grid | grid-cols-1 | md:grid-cols-2 | xl:grid-cols-4"
>
<div
  class="bg-white | h-[430px] | border-l-4 border-red | rounded-lg | px-3 | mx-5 | shadow-xl"
>
  <div class="my-5">
    <img
      src="https://teb.cdn.seekasia.com/ph/4f24e19040f33f8b33aa5670a37816bf55e3457748c4012b4f09864f02406c16.jpg"
      alt=""
    />
  </div>
  <div class="text-red | font-extrabold | text-2xl">Name of Position</div>
  <div class="text-blue-400 | font-semibold">Recruiter Name</div>
  <div class="mb-5 | font-medium">Location</div>
  <div class="flex justify-start | items-center | mb-1 | text-sm | mt-">
    <div class="bg-red | rounded-sm | text-white | mr-2 | px-2 | py-1">
      <span>PHP 250 per day</span>
    </div>
    <div class="bg-red | rounded-sm | text-white | ml-2 | px-2 | py-1">
      <span>Free Food</span>
    </div>
  </div>
  <div class="flex | mb-2">
    <div class="mr-1 | mt-1">
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M3.92251 1.69995C5.15101 1.69995 6.14501 2.69745 6.14501 3.92245V6.14495H3.92251C2.69401 6.14495 1.70001 5.14745 1.70001 3.92245C1.70001 2.69395 2.69751 1.69995 3.92251 1.69995Z"
          stroke="#12AF22"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M3.92251 9.85498H6.14501V12.0775C6.14501 13.306 5.14751 14.3 3.92251 14.3C2.69401 14.3 1.70001 13.3025 1.70001 12.0775C1.70001 10.849 2.69751 9.85498 3.92251 9.85498Z"
          stroke="#12AF22"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M12.0775 1.69995C13.306 1.69995 14.3 2.69745 14.3 3.92245C14.3 5.15095 13.3025 6.14495 12.0775 6.14495H9.85501V3.92245C9.85501 2.69395 10.8525 1.69995 12.0775 1.69995Z"
          stroke="#12AF22"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M6.14502 6.14502H7.35252H9.85502V9.85502H7.41202H7.00952H6.14502V6.14502Z"
          stroke="#12AF22"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M9.85501 9.85498H12.0775C13.306 9.85498 14.3 10.8525 14.3 12.0775C14.3 13.306 13.3025 14.3 12.0775 14.3C10.849 14.3 9.85501 13.3025 9.85501 12.0775V9.85498Z"
          stroke="#12AF22"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
    <div class="text-green | font-semibold | ml-1">Actively Recruiting</div>
  </div>
  <div class="flex | mb-2 | items-center">
    <button
      class="mr-2 | bg-red | rounded-md | text-white | px-2 | py-2.5 | mb-2"
    >
      <svg
        width="20"
        height="20"
        viewBox="0 0 15 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M11.2926 9.24405V15.7L6.28188 12.848L1.27119 15.7V2.90005C1.27119 2.01605 1.95796 1.30005 2.80586 1.30005H8.64911"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M11.2925 1.30005V6.57205"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M8.74883 3.93604H13.7327"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <button
      class="mx-2 | bg-red | rounded-md | text-white | px-2 | py-2.5 | mb-2"
    >
      <svg
        width="25"
        height="20"
        viewBox="0 0 19 19"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M3.11798 4.13011C1.96053 5.5929 1.26514 7.4615 1.26514 9.49997C1.26514 14.1903 4.95253 17.9936 9.5 17.9936C14.0475 17.9936 17.7349 14.1903 17.7349 9.49997C17.7349 4.8096 14.0475 1.00635 9.5 1.00635C7.70663 1.00635 6.05051 1.59618 4.69633 2.60126"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M9.36739 1.02515C7.46423 3.05418 6.1924 6.39028 6.1924 9.49989C6.1924 12.6189 7.66095 16.526 9.36739 17.9935"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M9.63274 1.02515C11.5359 3.05418 12.8077 6.39028 12.8077 9.49989C12.8077 12.6189 11.3392 16.526 9.63274 17.9935"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M2.12068 9.5H16.8794"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <button class="mb-2 | ml-2 | p-2 | bg-red | rounded-md | text-white">
      Mga Katulad
    </button>
  </div>
  <button
    class="flex justify-center | text-center | mb-2 | px-5 | bg-red | text-white | p-1 | rounded-md"
  >
    Higit Pang Impormasyon
  </button>
</div>
<div
  class="bg-white | h-[430px] | border-l-4 border-red | rounded-lg | px-3 | mx-5 | shadow-xl"
>
  <div class="my-5">
    <img
      src="https://teb.cdn.seekasia.com/ph/4f24e19040f33f8b33aa5670a37816bf55e3457748c4012b4f09864f02406c16.jpg"
      alt=""
    />
  </div>
  <div class="text-red | font-extrabold | text-2xl">Name of Position</div>
  <div class="text-blue-400 | font-semibold">Recruiter Name</div>
  <div class="mb-5 | font-medium">Location</div>
  <div class="flex justify-start | items-center | mb-1 | text-sm | mt-">
    <div class="bg-red | rounded-sm | text-white | mr-2 | px-2 | py-1">
      <span>PHP 250 per day</span>
    </div>
    <div class="bg-red | rounded-sm | text-white | ml-2 | px-2 | py-1">
      <span>Free Food</span>
    </div>
  </div>
  <div class="flex | mb-2">
    <div class="mr-1 | mt-1">
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M3.92251 1.69995C5.15101 1.69995 6.14501 2.69745 6.14501 3.92245V6.14495H3.92251C2.69401 6.14495 1.70001 5.14745 1.70001 3.92245C1.70001 2.69395 2.69751 1.69995 3.92251 1.69995Z"
          stroke="#12AF22"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M3.92251 9.85498H6.14501V12.0775C6.14501 13.306 5.14751 14.3 3.92251 14.3C2.69401 14.3 1.70001 13.3025 1.70001 12.0775C1.70001 10.849 2.69751 9.85498 3.92251 9.85498Z"
          stroke="#12AF22"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M12.0775 1.69995C13.306 1.69995 14.3 2.69745 14.3 3.92245C14.3 5.15095 13.3025 6.14495 12.0775 6.14495H9.85501V3.92245C9.85501 2.69395 10.8525 1.69995 12.0775 1.69995Z"
          stroke="#12AF22"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M6.14502 6.14502H7.35252H9.85502V9.85502H7.41202H7.00952H6.14502V6.14502Z"
          stroke="#12AF22"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M9.85501 9.85498H12.0775C13.306 9.85498 14.3 10.8525 14.3 12.0775C14.3 13.306 13.3025 14.3 12.0775 14.3C10.849 14.3 9.85501 13.3025 9.85501 12.0775V9.85498Z"
          stroke="#12AF22"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
    <div class="text-green | font-semibold | ml-1">Actively Recruiting</div>
  </div>
  <div class="flex | mb-2 | items-center">
    <button
      class="mr-2 | bg-red | rounded-md | text-white | px-2 | py-2.5 | mb-2"
    >
      <svg
        width="20"
        height="20"
        viewBox="0 0 15 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M11.2926 9.24405V15.7L6.28188 12.848L1.27119 15.7V2.90005C1.27119 2.01605 1.95796 1.30005 2.80586 1.30005H8.64911"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M11.2925 1.30005V6.57205"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M8.74883 3.93604H13.7327"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <button
      class="mx-2 | bg-red | rounded-md | text-white | px-2 | py-2.5 | mb-2"
    >
      <svg
        width="25"
        height="20"
        viewBox="0 0 19 19"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M3.11798 4.13011C1.96053 5.5929 1.26514 7.4615 1.26514 9.49997C1.26514 14.1903 4.95253 17.9936 9.5 17.9936C14.0475 17.9936 17.7349 14.1903 17.7349 9.49997C17.7349 4.8096 14.0475 1.00635 9.5 1.00635C7.70663 1.00635 6.05051 1.59618 4.69633 2.60126"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M9.36739 1.02515C7.46423 3.05418 6.1924 6.39028 6.1924 9.49989C6.1924 12.6189 7.66095 16.526 9.36739 17.9935"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M9.63274 1.02515C11.5359 3.05418 12.8077 6.39028 12.8077 9.49989C12.8077 12.6189 11.3392 16.526 9.63274 17.9935"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M2.12068 9.5H16.8794"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <button class="mb-2 | ml-2 | p-2 | bg-red | rounded-md | text-white">
      Mga Katulad
    </button>
  </div>
  <button
    class="flex justify-center | text-center | mb-2 | px-5 | bg-red | text-white | p-1 | rounded-md"
  >
    Higit Pang Impormasyon
  </button>
</div>
<div
  class="bg-white | h-[430px] | border-l-4 border-red | rounded-lg | px-3 | mx-5 | shadow-xl"
>
  <div class="my-5">
    <img
      src="https://teb.cdn.seekasia.com/ph/4f24e19040f33f8b33aa5670a37816bf55e3457748c4012b4f09864f02406c16.jpg"
      alt=""
    />
  </div>
  <div class="text-red | font-extrabold | text-2xl">Name of Position</div>
  <div class="text-blue-400 | font-semibold">Recruiter Name</div>
  <div class="mb-5 | font-medium">Location</div>
  <div class="flex justify-start | items-center | mb-1 | text-sm | mt-">
    <div class="bg-red | rounded-sm | text-white | mr-2 | px-2 | py-1">
      <span>PHP 250 per day</span>
    </div>
    <div class="bg-red | rounded-sm | text-white | ml-2 | px-2 | py-1">
      <span>Free Food</span>
    </div>
  </div>
  <div class="flex | mb-2">
    <div class="mr-1 | mt-1">
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M3.92251 1.69995C5.15101 1.69995 6.14501 2.69745 6.14501 3.92245V6.14495H3.92251C2.69401 6.14495 1.70001 5.14745 1.70001 3.92245C1.70001 2.69395 2.69751 1.69995 3.92251 1.69995Z"
          stroke="#12AF22"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M3.92251 9.85498H6.14501V12.0775C6.14501 13.306 5.14751 14.3 3.92251 14.3C2.69401 14.3 1.70001 13.3025 1.70001 12.0775C1.70001 10.849 2.69751 9.85498 3.92251 9.85498Z"
          stroke="#12AF22"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M12.0775 1.69995C13.306 1.69995 14.3 2.69745 14.3 3.92245C14.3 5.15095 13.3025 6.14495 12.0775 6.14495H9.85501V3.92245C9.85501 2.69395 10.8525 1.69995 12.0775 1.69995Z"
          stroke="#12AF22"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M6.14502 6.14502H7.35252H9.85502V9.85502H7.41202H7.00952H6.14502V6.14502Z"
          stroke="#12AF22"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M9.85501 9.85498H12.0775C13.306 9.85498 14.3 10.8525 14.3 12.0775C14.3 13.306 13.3025 14.3 12.0775 14.3C10.849 14.3 9.85501 13.3025 9.85501 12.0775V9.85498Z"
          stroke="#12AF22"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
    <div class="text-green | font-semibold | ml-1">Actively Recruiting</div>
  </div>
  <div class="flex | mb-2 | items-center">
    <button
      class="mr-2 | bg-red | rounded-md | text-white | px-2 | py-2.5 | mb-2"
    >
      <svg
        width="20"
        height="20"
        viewBox="0 0 15 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M11.2926 9.24405V15.7L6.28188 12.848L1.27119 15.7V2.90005C1.27119 2.01605 1.95796 1.30005 2.80586 1.30005H8.64911"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M11.2925 1.30005V6.57205"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M8.74883 3.93604H13.7327"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <button
      class="mx-2 | bg-red | rounded-md | text-white | px-2 | py-2.5 | mb-2"
    >
      <svg
        width="25"
        height="20"
        viewBox="0 0 19 19"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M3.11798 4.13011C1.96053 5.5929 1.26514 7.4615 1.26514 9.49997C1.26514 14.1903 4.95253 17.9936 9.5 17.9936C14.0475 17.9936 17.7349 14.1903 17.7349 9.49997C17.7349 4.8096 14.0475 1.00635 9.5 1.00635C7.70663 1.00635 6.05051 1.59618 4.69633 2.60126"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M9.36739 1.02515C7.46423 3.05418 6.1924 6.39028 6.1924 9.49989C6.1924 12.6189 7.66095 16.526 9.36739 17.9935"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M9.63274 1.02515C11.5359 3.05418 12.8077 6.39028 12.8077 9.49989C12.8077 12.6189 11.3392 16.526 9.63274 17.9935"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M2.12068 9.5H16.8794"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <button class="mb-2 | ml-2 | p-2 | bg-red | rounded-md | text-white">
      Mga Katulad
    </button>
  </div>
  <button
    class="flex justify-center | text-center | mb-2 | px-5 | bg-red | text-white | p-1 | rounded-md"
  >
    Higit Pang Impormasyon
  </button>
</div>
<div
  class="bg-white | h-[430px] | border-l-4 border-red | rounded-lg | px-3 | mx-5 | shadow-xl"
>
  <div class="my-5">
    <img
      src="https://teb.cdn.seekasia.com/ph/4f24e19040f33f8b33aa5670a37816bf55e3457748c4012b4f09864f02406c16.jpg"
      alt=""
    />
  </div>
  <div class="text-red | font-extrabold | text-2xl">Name of Position</div>
  <div class="text-blue-400 | font-semibold">Recruiter Name</div>
  <div class="mb-5 | font-medium">Location</div>
  <div class="flex justify-start | items-center | mb-1 | text-sm | mt-">
    <div class="bg-red | rounded-sm | text-white | mr-2 | px-2 | py-1">
      <span>PHP 250 per day</span>
    </div>
    <div class="bg-red | rounded-sm | text-white | ml-2 | px-2 | py-1">
      <span>Free Food</span>
    </div>
  </div>
  <div class="flex | mb-2">
    <div class="mr-1 | mt-1">
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M3.92251 1.69995C5.15101 1.69995 6.14501 2.69745 6.14501 3.92245V6.14495H3.92251C2.69401 6.14495 1.70001 5.14745 1.70001 3.92245C1.70001 2.69395 2.69751 1.69995 3.92251 1.69995Z"
          stroke="#12AF22"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M3.92251 9.85498H6.14501V12.0775C6.14501 13.306 5.14751 14.3 3.92251 14.3C2.69401 14.3 1.70001 13.3025 1.70001 12.0775C1.70001 10.849 2.69751 9.85498 3.92251 9.85498Z"
          stroke="#12AF22"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M12.0775 1.69995C13.306 1.69995 14.3 2.69745 14.3 3.92245C14.3 5.15095 13.3025 6.14495 12.0775 6.14495H9.85501V3.92245C9.85501 2.69395 10.8525 1.69995 12.0775 1.69995Z"
          stroke="#12AF22"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M6.14502 6.14502H7.35252H9.85502V9.85502H7.41202H7.00952H6.14502V6.14502Z"
          stroke="#12AF22"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M9.85501 9.85498H12.0775C13.306 9.85498 14.3 10.8525 14.3 12.0775C14.3 13.306 13.3025 14.3 12.0775 14.3C10.849 14.3 9.85501 13.3025 9.85501 12.0775V9.85498Z"
          stroke="#12AF22"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
    <div class="text-green | font-semibold | ml-1">Actively Recruiting</div>
  </div>
  <div class="flex | mb-2 | items-center">
    <button
      class="mr-2 | bg-red | rounded-md | text-white | px-2 | py-2.5 | mb-2"
    >
      <svg
        width="20"
        height="20"
        viewBox="0 0 15 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M11.2926 9.24405V15.7L6.28188 12.848L1.27119 15.7V2.90005C1.27119 2.01605 1.95796 1.30005 2.80586 1.30005H8.64911"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M11.2925 1.30005V6.57205"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M8.74883 3.93604H13.7327"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <button
      class="mx-2 | bg-red | rounded-md | text-white | px-2 | py-2.5 | mb-2"
    >
      <svg
        width="25"
        height="20"
        viewBox="0 0 19 19"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M3.11798 4.13011C1.96053 5.5929 1.26514 7.4615 1.26514 9.49997C1.26514 14.1903 4.95253 17.9936 9.5 17.9936C14.0475 17.9936 17.7349 14.1903 17.7349 9.49997C17.7349 4.8096 14.0475 1.00635 9.5 1.00635C7.70663 1.00635 6.05051 1.59618 4.69633 2.60126"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M9.36739 1.02515C7.46423 3.05418 6.1924 6.39028 6.1924 9.49989C6.1924 12.6189 7.66095 16.526 9.36739 17.9935"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M9.63274 1.02515C11.5359 3.05418 12.8077 6.39028 12.8077 9.49989C12.8077 12.6189 11.3392 16.526 9.63274 17.9935"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M2.12068 9.5H16.8794"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <button class="mb-2 | ml-2 | p-2 | bg-red | rounded-md | text-white">
      Mga Katulad
    </button>
  </div>
  <button
    class="flex justify-center | text-center | mb-2 | px-5 | bg-red | text-white | p-1 | rounded-md"
  >
    Higit Pang Impormasyon
  </button>
</div>
</section> -->
