<div class="w-full | bg-[#ECFCFF] | 2xl:px-[12rem] | py-[3rem] | px-[1rem] ">
	<div class="w-ful | grid | gap-[10px]">
		<div>
			<form class="flex |  gap-[15px] | lg:flex-nowrap | flex-wrap">
				<div class="flex | bg-white | py-[10px] | flex-grow | rounded-[6px] | gap-[20px] | items-center | min-w-[390px] | md:min-w-[450px] | border-[1px] | border-blue-500">
					<img class="ml-[1rem]" src="/assets/images/icons/search-icon.svg" alt="search-icon" />
					
					<input class="placeholder:font-inter | placeholder:text-blue-500 | placeholder:text-[16px]"  placeholder="Search Trabaho" type="text" />
				</div>
				<div class="flex | bg-white | py-[10px] | flex-grow | rounded-[6px] | gap-[20px] | items-center | min-w-[390px] | md:min-w-[400px] | border-[1px] | border-blue-500">
					<img class="ml-[1rem]" src="/assets/images/icons/location-icon.svg" alt="search-icon" />
					<input class="placeholder:font-inter | placeholder:text-blue-500 | placeholder:text-[16px]" placeholder="Search Trabaho" type="text"/>
				</div>
				<button class="border-solid | border-blue-500 | border-[1px] | bg-blue-500 
					| text-white | font-inter | rounded-[6px] | lg:w-fit | w-full | h-fit 
					| py-[9px] | px-[50px] | hover:opacity-90"> Search </button>
			</form>
		</div>
		<div class="flex | items-center | gap-[12px] ">
			<div class="md:flex | hidden | gap-[6px] | items-center">
				<img src="/assets/images/listing-icons/filter.svg">
				<p class="text-gray | text-[14px] | font-normal | font-inter">Filter Search  </p>
			</div>
			<button class="filter-secondary-button">Date <span class="md:inline-block | hidden">  Posted </span><img src="/assets/images/listing-icons/arrow-down-white.svg"></button>
			<button class="filter-secondary-button">Sweldo<img src="/assets/images/listing-icons/arrow-down-white.svg"></button>
			<button class="filter-secondary-button">Region<img src="/assets/images/listing-icons/arrow-down-white.svg"></button>
			<button class="filter-secondary-button">City<img src="/assets/images/listing-icons/arrow-down-white.svg"></button>
		</div>
	</div>
</div>