@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;500;600;700;800&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Button Components */

@layer components{

  /* Button */
  .primary-button{
    @apply bg-transparent text-blue-500 px-[27px] py-[8px]  text-[16px] font-inter font-medium border-[1px] border-solid border-blue-500 rounded-md shrink-0;
  }
  
  .secondary-button{
    @apply bg-blue-500 text-white px-[27px] py-[8px] text-[16px] font-inter font-medium border-[1px] border-solid border-blue-500 rounded-md shrink-0;
  }
  
  .small-primary-button{
    @apply py-[3px] px-[8px] bg-[#bfe8ff]  rounded-[4px]  text-[#0070AF]  font-inter  font-medium  text-[12px];
  }

  /* Form */

  .primary-search-bar{
    @apply inline-flex  bg-[#ffffff]  border-solid  border-blue-500  border-[1px]  gap-[19px]  lg:w-[240px] md:w-[250px] py-[6px]  rounded-[6px] w-full
  }
}
  




.container-responsive{
  @apply container   mx-auto  mt-8  p-2  sm:p-3  md:p-4  lg:p-5  xl:p-6;
}