<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/shared/head.ejs'); %>
    </head>
<body>r
    <header class="w-full">
        <a href="/" class="w-full flex justify-center"><span class="w-full text-blue-500 underline text-center">Close Window</span></a>
    </header>
    <main class="font-inter mt-[7rem] px-[2rem] | text-[11px] | max-w-[900px]">
        <h1 class="text-2xl mb-[2rem]">Cookies Policy</h1>
        <p>
            Welcome to Hanap, a job portal dedicated to connecting job seekers with 
            blue-collar job opportunities. At Hanap, we are committed to safeguarding
            your privacy and protecting your personal information. This Privacy Policy 
            outlines how we collect, use, disclose, and manage your information when you 
            use our services.
        </p>
        <br>
        <strong>1. Information We Collect</strong>
        <br>
        <p>
            We may collect the following types of information:
        </p>
        <br>
        <strong>1.1 Personal Information:</strong>
        <br>
        <ul class="list-disc pl-[2rem]">
            <li>Contact Information: Name, email address, phone number.</li>
            <li>Location Information: Address, city, country, postal code.</li>
            <li>Profile Information: Resume/CV, work experience, skills, education.</li>
        </ul>
        <br>
        <strong>
            1.2 Usage Information:
        </strong>
        <br>
        <ul class="list-disc pl-[2rem]">
            <li>Log Data: IP address, browser type, pages visited, time spent on the platform.</li>
            <li>Device Information: Device type, operating system, unique device identifiers.
            </li>
        </ul>
        <br>
        <strong>Cookies and Tracking Technologies:</strong>
        <br>
        <p>
            We use cookies and similar tracking technologies to enhance your experience and collect 
            usage data. You can manage your cookie preferences through your browser settings
        </p>
        <br>
        <strong>2. How We Use Your Information</strong>
        <br>
        <p>We use your information for various purposes, including but not limited to:</p>
        <br>
        <ul class="list-discp pl-[2rem]">
            <li>Matching you with relevant job opportunities.</li>
            <li>Communicating with you about job listings, applications, and updates.</li>
            <li>Improving our services, features, and user experience.</li>
            <li>Analyzing trends and user behavior to enhance our platform.</li>
            <li>Complying with legal obligations.</li>
        </ul>
        <br>
        <strong> 3. Data Sharing and Disclosure </strong>
        <br>
        <p>We may share your information with the following parties:</p>
        <br>
        <ul class="list-disc pl-[2rem]">
            <li>Employers: Your profile and application details may be shared with potential </li>
            <li>Service Providers: Third-party service providers who assist in our operations and services.</li>
            <li>Legal Compliance: When required by law, regulations, legal processes, or governmental requests.</li>
            <li>Business Transfers: In the event of a merger, acquisition, or sale of assets, your information may be transferred.</li>
        </ul>
        <br>
        <p>
            Welcome to Hanap, a job portal dedicated to connecting job seekers with 
            blue-collar job opportunities. At Hanap, we are committed to safeguarding
            your privacy and protecting your personal information. This Privacy Policy 
            outlines how we collect, use, disclose, and manage your information when you 
            use our services.
        </p>
        <br>
        <strong>1. Information We Collect</strong>
        <br>
        <p>
            We may collect the following types of information:
        </p>
        <br>
        <strong>1.1 Personal Information:</strong>
        <br>
        <ul class="list-disc pl-[2rem]">
            <li>Contact Information: Name, email address, phone number.</li>
            <li>Location Information: Address, city, country, postal code.</li>
            <li>Profile Information: Resume/CV, work experience, skills, education.</li>
        </ul>
        <br>
        <strong>
            1.2 Usage Information:
        </strong>
        <br>
        <ul class="list-disc pl-[2rem]">
            <li>Log Data: IP address, browser type, pages visited, time spent on the platform.</li>
            <li>Device Information: Device type, operating system, unique device identifiers.
            </li>
        </ul>
        <br>
        <strong>4. Your Choices</strong>
        <br>
        <ul class="list-disc pl-[2rem]">
            <li>You can update, correct, or delete your information through your account settings.</li>
            <li>You can control cookie preferences through your browser settings.</li>
            <li>You can unsubscribe from promotional emails through the link provided in the email.</li>
        </ul>
        <br>
        <strong>5. Security</strong>
        <br>
        <p>
            We implement appropriate security measures to protect your 
            information from unauthorized access, alteration, disclosure, 
            or destruction.
        </p>
        <br>
        <strong>6. Children's Privacy</strong>
        <br>
        <p>
            Our services are not intended for individuals under the age of 16.
             We do not knowingly collect personal information from children.
        </p>
        <br>
        <strong>7. Updates to Privacy Policy</strong>
        <br>
        <p>
            We may update this Privacy Policy periodically. We will 
            notify you of significant changes through the platform or other communication channels.
        </p>
        <br>
        <strong>
            8. International Data Transfer
        </strong>
        <br>
        <p>
            example, to collect information about web-site activity. Some cookies and other technologies may serve to recall Personal Information previously indicated by a user. Most browsers allow you to control cookies, including whether or not to accept them and how to remove them.
            You may set most browsers to notify you if you receive a cookie, or you may choose to block cookies with your browser, but please note that if you choose to erase or block your cookies, you will need to re-enter your original user ID and password to gain access to certain parts of the Platform.
            Tracking technologies may record information such as Internet domain and host names; Internet protocol (IP) addresses; browser software and operating system types; clickstream patterns; and dates and times that our site is accessed. Our use of cookies and other tracking technologies allows us to improve our Platform and the overall website experience. We may also analyse information that does not contain Personal Information for trends and statistics.
            For more information about our use of cookies please refer to our Cookie Policy.
        </p>
    </main>
</body>
</html>