<% title = "Registration Page" %>
<div
  class="container mx-auto p-2 sm:p-3 md:p-4 lg:p-5 xl:p-[3.5rem] flex justify-center font-inter">
  <h1 class="text-[40px] font-inter leading-[47.42px] text-center font-bold max-w-[804px]">
    Mag <span class="text-blue">hanap</span> ng <span class="text-red">trabahador</span> na malapit
    sa inyong <span class="text-blue">lugar</span>
  </h1>
</div>
<div class="container mx-auto p-2 sm:p-3 md:p-4 lg:p-5 xl:p-[3.5rem] flex justify-center gap-4">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
    <div class="p-[21px] flex flex-col text-left font-inter border-l-4 border-blue">
      <div class="w-[50px] h-[50px] bg-red-400 rounded-full"></div>
      <h1 class="text-[18px] text-blue font-bold">Name of Freelance</h1>
      <h1 class="text-[#1A0DB3] text-[14px]">Job</h1>
      <h1 class="text-[14px]">Location</h1>
      <p
        class="text-[10px] text-white bg-blue h-[18px] w-[148px] text-center content-center mt-[12px] rounded">
        PHP 450 depende sa gawa
      </p>
      <p class="text-[#363940] leading-[21px] text-[14px] py-[12px] max-w-[176px]">
        Ako si Renato. Maari nyo lamang ako ma-contact at ako mismo ang pupunta sainyo
      </p>
      <p
        class="text-[14px] text-white bg-blue p-1 w-[148px] text-center content-center mt-[12px] rounded">
        Mga Katulad
      </p>
      <p class="text-[14px] text-white bg-blue p-1 text-center content-center mt-[12px] rounded">
        Higit Pang Inpormasyon
      </p>
    </div>
    <div class="p-[21px] flex flex-col text-left font-inter border-l-4 border-blue">
      <div class="w-[50px] h-[50px] bg-red-400 rounded-full"></div>
      <h1 class="text-[18px] text-blue font-bold">Name of Freelance</h1>
      <h1 class="text-[#1A0DB3] text-[14px]">Job</h1>
      <h1 class="text-[14px]">Location</h1>
      <p
        class="text-[10px] text-white bg-blue h-[18px] w-[148px] text-center content-center mt-[12px] rounded">
        PHP 450 depende sa gawa
      </p>
      <p class="text-[#363940] leading-[21px] text-[14px] py-[12px] max-w-[176px]">
        Ako si Renato. Maari nyo lamang ako ma-contact at ako mismo ang pupunta sainyo
      </p>
      <p
        class="text-[14px] text-white bg-blue p-1 w-[148px] text-center content-center mt-[12px] rounded">
        Mga Katulad
      </p>
      <p class="text-[14px] text-white bg-blue p-1 text-center content-center mt-[12px] rounded">
        Higit Pang Inpormasyon
      </p>
    </div>
    <div class="p-[21px] flex flex-col text-left font-inter border-l-4 border-blue">
      <div class="w-[50px] h-[50px] bg-red-400 rounded-full"></div>
      <h1 class="text-[18px] text-blue font-bold">Name of Freelance</h1>
      <h1 class="text-[#1A0DB3] text-[14px]">Job</h1>
      <h1 class="text-[14px]">Location</h1>
      <p
        class="text-[10px] text-white bg-blue h-[18px] w-[148px] text-center content-center mt-[12px] rounded">
        PHP 450 depende sa gawa
      </p>
      <p class="text-[#363940] leading-[21px] text-[14px] py-[12px] max-w-[176px]">
        Ako si Renato. Maari nyo lamang ako ma-contact at ako mismo ang pupunta sainyo
      </p>
      <p
        class="text-[14px] text-white bg-blue p-1 w-[148px] text-center content-center mt-[12px] rounded">
        Mga Katulad
      </p>
      <p class="text-[14px] text-white bg-blue p-1 text-center content-center mt-[12px] rounded">
        Higit Pang Inpormasyon
      </p>
    </div>
    <div class="p-[21px] flex flex-col text-left font-inter border-l-4 border-blue">
      <div class="w-[50px] h-[50px] bg-red-400 rounded-full"></div>
      <h1 class="text-[18px] text-blue font-bold">Name of Freelance</h1>
      <h1 class="text-[#1A0DB3] text-[14px]">Job</h1>
      <h1 class="text-[14px]">Location</h1>
      <p
        class="text-[10px] text-white bg-blue h-[18px] w-[148px] text-center content-center mt-[12px] rounded">
        PHP 450 depende sa gawa
      </p>
      <p class="text-[#363940] leading-[21px] text-[14px] py-[12px] max-w-[176px]">
        Ako si Renato. Maari nyo lamang ako ma-contact at ako mismo ang pupunta sainyo
      </p>
      <p
        class="text-[14px] text-white bg-blue p-1 w-[148px] text-center content-center mt-[12px] rounded">
        Mga Katulad
      </p>
      <p class="text-[14px] text-white bg-blue p-1 text-center content-center mt-[12px] rounded">
        Higit Pang Inpormasyon
      </p>
    </div>
  </div>
</div>
<div
  class="container mx-auto p-2 sm:p-3 md:p-4 lg:p-5 xl:p-[3.5rem] flex justify-center font-inter">
  <p class="text-[16px] text-white bg-blue p-2 selection:text-center content-center rounded">
    Tumingin ng Higit pa ➡
  </p>
</div>
