<!DOCTYPE html>
<html lang="en">

<!-- Head Link -->
<%- include('../partials/shared/head.ejs'); %>
<body>

    <!-- Header -->
    <header>
        <%- include('../partials/shared/header.ejs'); %>
    </header>

    <main>

        <!-- Hero Section-->
        <section>
            <%- include('../partials/home/hero.ejs'); %>
        </section>
    </main>


</body>
</html>