<section
  class="flex | flex-col | items-center | font-assistant | mx-5 | my-10 | sm:m-10 | py-[7rem]"
>
  <!-- Start of Content  Container -->
  <div class="max-w-md | mx-5">
    <!-- Start of Text Container -->
    <div class="mb-5">
      <h1 class="text-3xl | mb-5 | font-semibold | text-blue-500">Sign In</h1>
      <p class="text-gray-700">
        Failure will never overtake me if my determination to succeed is strong
        enough.
      </p>
    </div>
    <!-- End of Text Container -->

    <form class="flex | flex-col" action="#" method="GET">
      <button class="primary-button | py-[0.875rem] | text-[16px]">
        Sign in with Google
      </button>

      <!-- Horizontal Line -->
      <hr class="my-9" />
      <input
        type="email"
        placeholder="Email"
        class="border | rounded-md | border-gray-300 | block | w-full | mb-5 | h-12 | px-3"
      /><input
        type="password"
        placeholder="Password"
        class="border | rounded-md | border-gray-300 | block | w-full | mb-5 | h-12 | px-3"
      />
      <a href="/register">
        <button class="secondary-button | py-[0.875rem] | w-full"> Can't Sign Try Register </button>
      </a>

    </form>
  </div>
  <!-- End of Content  Container -->
</section>