<section
  class="flex | flex-col | items-center | font-assistant | mx-5 | my-10 | sm:m-10 | py-[7rem]"
>
  <!-- Start of Content  Container -->
  <div class="max-w-md | mx-5">
    <!-- Start of Text Container -->
    <div class="mb-5">
      <h1 class="text-3xl | mb-5 | font-bold | text-blue-500">Register</h1>
      <p class="text-gray-700 | font-inter | text-[15px]">
         Maging myembro sa hanap at maghanap ng trabahador o hindi kaya't magkaroon ng trabaho sa mas mabilis na oras
      </p>
    </div>
    <!-- End of Text Container -->

    <form class="flex | flex-col" action="#" method="GET">
      <input
        type="text"
        placeholder="Name"
        class="border | rounded-md | border-gray-300 | block | w-full | mb-5 | h-12 | px-3"
      /><input
        type="email"
        placeholder="Email"
        class="border | rounded-md | border-gray-300 | block | w-full | mb-5 | h-12 | px-3"
      /><input
        type="password"
        placeholder="Password"
        class="border | rounded-md | border-gray-300 | block | w-full | mb-5 | h-12 | px-3"
      /><input
        type="password"
        placeholder="Repeat Password"
        class="border | rounded-md | border-gray-300 | block | w-full | mb-5 | h-12 | px-3"
      />
      <button class="secondary-button | py-[0.875rem]"> Register </button>
      <p class="mt-[0.875rem] | font-inter | text-[15px]"> Do you have an existing account?<a href="/register"> <span class="text-blue-500 | font-bold | hover:underline | transition-all"> Log in </span></a> </p> 
    </form>
  </div>
  <!-- End of Content  Container -->
</section>