<section
  class="flex | flex-col | items-center | font-assistant | mx-5 | my-10 | sm:m-10 | py-[7rem]"
>
  <!-- Start of Content  Container -->
  <div class="max-w-md | mx-5">
    <!-- Start of Text Container -->
    <div class="mb-5">
      <h1 class="text-3xl | mb-5 | font-semibold">Registration</h1>
      <p class="text-gray-700">
        Failure will never overtake me if my determination to succeed is strong
        enough.
      </p>
    </div>
    <!-- End of Text Container -->

    <form class="flex | flex-col" action="#" method="GET">
      <input
        type="text"
        placeholder="Name"
        class="border | rounded-md | border-gray-300 | block | w-full | mb-5 | h-12 | px-3"
      /><input
        type="email"
        placeholder="Email"
        class="border | rounded-md | border-gray-300 | block | w-full | mb-5 | h-12 | px-3"
      /><input
        type="password"
        placeholder="Password"
        class="border | rounded-md | border-gray-300 | block | w-full | mb-5 | h-12 | px-3"
      /><input
        type="password"
        placeholder="Repeat Password"
        class="border | rounded-md | border-gray-300 | block | w-full | mb-5 | h-12 | px-3"
      />
      <button
        class="text-white | uppercase | tracking-[0.15em] | text-sm | bg-violet-600 | border | border-violet-600 | rounded-md | h-12 | mb-4| hover:bg-violet-900"
      >
        Registration
      </button>
    </form>
  </div>
  <!-- End of Content  Container -->
</section>