<div class="w-full | grid | place-content-center | [&>*]:place-self-center | md:py-[6rem] | py-[4rem] | gap-[2rem] | px-[2rem]">
    <h1 class="lg:text-[32px] | text-[22px] | text-blue-500">Come Work With Us</h1>
    <h2 class="lg:text-[40px] | text-[32px] | max-w-[1200px] | text-center | font-inter | font-bold" >
        You can start a fulfilling career with us with incredible work life balance and career
        opportunity.
    </h2>
    <button class="primary-button | w-full | md:w-[155px]"> Visit Careers </button>
</div>