<!-- <ul
  role="list"
  class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-12 sm:space-y-0 lg:gap-x-8"
>
  <% people.forEach(person => { %> <%-
  include('../../components/molecules/member-lists-item', { person }) %> <% })
  %>
</ul> -->

<div class="relative px-6 lg:px-8 my-20 mx-40">
  <div class="text-center">
    <h1
      class="text-7xl font-bold tracking-tight text-gray-900 sm:text-6xl leading-normal"
    >
      Ang <span class="text-blue-800">Hanap</span> ay tumutulong magkaroon ng
      <span class="text-red-800">dagdag</span> na
      <span class="text-blue-800">trabaho</span> para sa mga
      <span class="text-red-800">pilipino</span>
    </h1>
  </div>
</div>
<div class="grid grid-cols-2 gap-2 mx-20">
  <div class="my-5 mx-20 p-4">
    <div class="text-3xl font-bold leading-tight my-10">
      <span
        >Isa ang hanap sa mga umuusbong na start up na garantisadong
        nakakatulong sa nakakarami</span
      >
    </div>
    <div
      class="text-gray-700 font-Inter text-lg font-normal leading-tight my-5"
    >
      <span
        >Mabilis at garantisadong trabaho ba ang hanap mo? Trabahador na
        mapagkakatiwalaan malapit sainyo? Halina’t tara maghalungkat sa aming
        website</span
      >
    </div>
    <div
      class="text-gray-700 font-Inter text-lg font-normal leading-tight my-5"
    >
      <span
        >Dahil sa subok na kakayanan nito marami ang natulungan at mga sumusubok
        sa hanap</span
      >
    </div>
  </div>
  <div class="my-20 mx-10 p-4"></div>
</div>
