<div
  class="[&>]:bg-green-500 | [&>]:container | [&>*]:xl:p-6 | h-10vh | font-assistant"
>
  <div class="relative px-2 lg:px-4 my-20 mx-[20px] md:mx-[30px] lg:mx-[50px] xl:mx-[300px]">
    <div class="text-center">
      <h1 class=" font-bold | tracking-tight | text-[40px] | lg:text-[50px] | leading-normal">
        Ang <span class="text-blue-600">Hanap</span> ay tumutulong magkaroon ng
            <span class="text-red">dagdag</span> na
            <span class="text-blue-600">trabaho</span> para sa mga
            <span class="text-red">Pilipino</span>
      </h1>
    </div>
  </div>
</div>