<div
  class="[&>]:bg-green-500 | [&>]:container | [&>*]:xl:p-6 | h-10vh | font-assistant"
>
  <div class="relative px-6 lg:px-8 my-20 mx-40">
    <div class="text-center">
      <h1 class="  font-bold | tracking-tight | text-gray-900 | text-[40px] | lg:text-[50px] | leading-normal">
        Ang <span class="text-blue-600">Hanap</span> ay tumutulong magkaroon ng
            <span class="text-red">dagdag</span> na
            <span class="text-blue-600">trabaho</span> para sa mga
            <span class="text-red">Pilipino</span>
      </h1>
    </div>
  </div>
</div>