<div class="w-full | grid | place-content-center | [&>*]:place-self-center | py-[6rem] | gap-[2rem] | px-[2rem]">
    <h1 class="lg:text-[32px] | text-[22px] | text-blue-500 | text-center">What they say to our user experience</h1>
    <h2 class="lg:text-[40px] | text-[32px] | max-w-[1200px] | text-center | font-inter | font-bold" >
        We are an independent job portal website that taking care of blue collar jobs here in philippines
    </h2>
</div>