<button class="w-fit | h-[33px] | py-[9px] | sm:px-[13px] | px-[18px] | text-white | bg-blue-500 | sm:text-[14px] | text-[13px] | rounded-[6px] | leading-3 | font-inter : hover:bg-blue-600">
    <a href="/trabaho">
        <span class="hidden | sm:inline-block">Higit Pang </span>  Impormasyon

    </a>
    

</button>