<button class="w-[33px] | h-[33px] | p-[9px] | shrink-0 | bg-blue-500 | rounded-[6px] | hover:bg-blue-600">
    
    <a href="https://www.facebook.com/borlito.chupaeng">
        <img src="/assets/images/listing-icons/web.svg">
    </a>
</button>