<div class="border | rounded-md | border-l-4 | border-l-blue-500 | drop-shadow-sm | px-5 | py-7 | lg:max-w-[250px] | w-full | hover:scale-105 | transition-all | grid | place-items-center | font-inter | gap-3">
    <div>
        <img src="<%= emptestimonyInformation.image %>">
    </div>
    <h5 class="font-bold | text-[14px]"> <%= emptestimonyInformation.name %> </h5>
    <h6 class="text-[12px] | text-[#6E38F7] | text-center"> <%= emptestimonyInformation.position %> </h6>
    <p class="text-center | text-gray | text-[14px]">
        <%= emptestimonyInformation.description %>
    </p>
</div>