
<!-- Content of Milestone-->

<div class="flex | flex-col | md:text-left | text-center | font-inter | text-white">
    <h1 class="text-[36px] | font-bold pb-[20px]">
        <%= milestoneInformation.headline %>
    </h1>
    <p class="text-[16px] | leading-[22px] | md:w-full | w-[340px] | self-center">
      <%= milestoneInformation.description %>
    </p>
</div>