<div class="border | rounded-md | border-l-4 | border-l-blue-500 | drop-shadow-sm | p-5 | max-w-md | hover:scale-105 | transition-all">
	<!-- Start of Card Logo-->
	<div class="mb-5">
		<img src="<%= testimonyInformation.image %>">
	</div>
	<!-- End of Card Logo-->

	<!-- Start of Card Description-->
	<p class="mb-5">
	<%= testimonyInformation.description %>
	</p>
		<!-- End of Card Description-->

	<!-- Start of Card Author-->
	<div>
		<h4 class="font-bold"><%= testimonyInformation.name %></h4>
		<h5><%= testimonyInformation.position %></h5>
	</div>
	<!-- End of Card Author-->
</div>