<div class="flex | flex-col | gap-4">
    <div class="self-center">
        <img src="<%= whyInformation.image %>">
    </div>
    <h1 class="text-center | text-gray | font-inter | font-semibold | text-[20px]"> <%= whyInformation.headline %>  </h1>
    <p class="text-center | text-gray | text-[16px] | max-w-[320px] | self-center">
        <%= whyInformation.description %> 
    </p>
</div>